@media (max-width:1200px){
    .yfl-relative .main-middle .search{
      margin-bottom: 90px !important;
    }
}
@media (min-width:1013px) and (max-width:1166px){
  .yfl-relative .main-middle .search{
    margin-bottom: 61px !important;
  }
}
@media (min-width:992px) and (max-width:1012px) {
    .yfl-relative .main-middle .search{
      margin-bottom: 30px !important;
    }
}

@media (max-width:$screen-md-max) {
  footer .social-icons {
    margin: 5px 3px;
  }
}

@media (max-width:$screen-sm-max) {

}

@media (max-width:$screen-xs-max) {
  .yfl-relative .main-middle {
      position: static;
      @include transform(translateX(0%));
      width: 100%;
  }
  .yfl-relative .main-middle .logo{
    margin: 0;
    padding: 30px 0 0 0;
  }
}
@media (max-width:480px) {
  .main-form{
    h3{
      font-size: 16px;
    }
  }
  .yfl-relative .main-middle h1{
    font-size: 19px;
  }
  .yfl-relative .main-middle p {
    font-size: 14px;
    line-height: 30px;
    padding: 0;
}
footer .social-icons img {
    opacity: 1;
    width: 55%;
    height: 59%;
    margin: 6px 0 15px;
  }
  footer .social-icons {
    margin: 5px 4px;
  }
  footer .copyright{
    float: none;
    font-size: 10px;
  }
  .createdby{
    float: none !important;
  }

}
