<section>
  <div>
    <img src="img/article/art1.jpg" alt="" class="img-responsive width">

  </div>
</section>
<div class="bg">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="detail-article">
            <div class="article-title">
              <h2 class="color-green font500">Conscious Eating - YourBody Knows Best</h2>
            </div>
            <div class="article-date font-rubik">
              <p><span class="color-green">Alex John</span> | December 18, 2015</p>
            </div>
            <div class="article-data color-third font-rubik mt30">
              <p>Eating and diets have become a fashion trend in the last few years. One year we're paleo, one year we're raw
                etc. We follow what the new studies tell us, what "experts" tell us, we follow the trends blindly. We often
                forget that we're all individuals with different bodies and different needs. What is good for someone else
                doesn't mean it is good for us as well. We have to ask our body what it needs in the current situation. </p>
            </div>
            <div class="article-data color-third font-rubik mt30">
              <h4 class="font-rubik color-green font-light">Let's start with why.</h4>
              <p>Everything we know about food is from our parents, books, TV, the internet, commercials, and other people’s
                advice. What if most of that is just somebody's point of view? Try to let go of what you've heard about healthy
                food, about dieting, about "good" food and "bad" food.</p>
              <p>Don’t see that as a hard fact, but just as someone's point of view on it. It doesn't have to be yours, and
                most likely, it isn't yours. </p>
              <p>
                Every time you feel hungry you can ask yourself: is this truly MY thought? Sometimes we feel emotions that are not ours,
                but have been put there through years of conditioning. I know it sounds confusing, yet about 98% of the time
                we feel other people's emotions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="bg-like mt30">
      <div class="pos-top text-center">
        <h2 class="font-rubik color-white font-light">Like this article?</h2>
        <h3 class="font-rubik color-white font-light"><a style="text-decoration:underline;" class="color-white share">Share</a> this article with your friends</h3>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row mt30">
        <div class="col-md-12">
          <div class="other-article font-rubik">
            <h1 class="color-third">Other Articles by Alex</h1>
          </div>
          <div class="art-list mt30 font-rubik">
            <a href="" class="color-green">Lorem ipsum dolor sit amet vbnjbngflbn consectetur </a>
            <p class="color-third">Adipiscing elit. sed do eiusmod tempor....</p>
          </div>
          <div class="art-list mt30 font-rubik">
            <a href="" class="color-green">Lorem ipsum dolor sit amet vbnjbngflbn consectetur </a>
            <p class="color-third">Adipiscing elit. sed do eiusmod tempor....</p>
          </div>
          <div class="art-list mt30 font-rubik">
            <a href="" class="color-green">Lorem ipsum dolor sit amet vbnjbngflbn consectetur </a>
            <p class="color-third">Adipiscing elit. sed do eiusmod tempor....</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="bg-comment mt30">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="other-article font-rubik">
              <h1 class="color-third">Join the Discussion... </h1>
            </div>
            <div class="msg">
              <textarea rows="8" cols="100" placeholder="Type your Message here">

</textarea>
              <div class="read-more mt20 float-right">
                <button class="text-up btn-green font-rubik">submit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="box-comment mt30">


            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="user-img">
                <img src="img/article/user.png" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="user-name font-rubik">
                <h4 class="color-green font-light">Mapuama</h4>
                <span>6 Hours ago</span>
              </div>
              <div class="article-data color-third font-rubik mt20">
                <p>Eating and diets have become a fashion trend in the last few years. One year we're paleo, one year we're
                  raw etc. We follow what the new studies tell us, what "experts" tell us, we follow the trends blindly.
                  We often forget that we're all individuals with different bodies and different needs. What is good for
                  someone else doesn't mean it is good for us as well. We have to ask our body what it needs in the current
                  situation. </p>
              </div>
              <div class="count font-rubik display-inline mt30">
                <a href=""><span>0 <i class="fa fa-angle-up"></i></span></a>
              </div>
              <div class="count display-inline font-rubik ml15">
                <a href=""><span> <i class="fa fa-angle-down"></i> Reply</span></a>
              </div>
            </div>
          </div>
          <div class="box-comment mt30">


            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="user-img">
                <img src="img/article/user.png" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="user-name font-rubik">
                <h4 class="color-green font-light">Mapuama</h4>
                <span>6 Hours ago</span>
              </div>
              <div class="article-data color-third font-rubik mt20">
                <p>Eating and diets have become a fashion trend in the last few years. One year we're paleo, one year we're
                  raw etc. We follow what the new studies tell us, what "experts" tell us, we follow the trends blindly.
                  We often forget that we're all individuals with different bodies and different needs. What is good for
                  someone else doesn't mean it is good for us as well. We have to ask our body what it needs in the current
                  situation. </p>
              </div>
              <div class="count font-rubik display-inline mt30">
                <a href=""><span>0 <i class="fa fa-angle-up"></i></span></a>
              </div>
              <div class="count display-inline font-rubik ml15">
                <a href=""><span> <i class="fa fa-angle-down"></i> Reply</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row mt40">
        <div class="col-md-12">
          <div class="other-article font-rubik">
            <h1 class="color-third">Related Articles</h1>
          </div>
        </div>
      </div>
      <div class="row mt40">
        <div class="col-md-6 font-rubik mb30" ng-repeat="data in rowdata track by $index">
          <div class="border-box">
            <div class="col-md-5 col-sm-5 col-xs-12">
              <div class="art-img position-relative">
                <img ng-src="{{data.img}}" alt="" class="img-responsive width100">
                <div class="top-right-icon">
                  <img src="img/article/fav.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
              <div class="art-title">
                <h4 class="color-green">{{data.title}}</h4>
                <p>by <span class="color-green font500">Abha Singh</span></p>
              </div>
              <div class="art-data mt10">
                <p class="font-light color-third">{{data.data}} </p>
              </div>
              <div class="art-date mt20">
                <span class="color-third">August 12, 2015</span>
              </div>
              <div class="read-more mt20">
                <button class="text-up btn-green btn btn-primary btn-texture">read more</button>
              </div>
            </div>
            <!--<div class="reads-more mt20">
              <button class="text-up btn-green btn btn-primary btn-texture">read more</button>
            </div>-->
          </div>


        </div>
      </div>
    </div>
  </section>
</div>