<div class="big-yoga sell-banner">
    <div class="black-overlay"></div>
    <div class="container yoga-title text-center">
        <h1>Product Manufacturer</h1>
    </div>
</div>

<div class="container main-form" ng-if="!formComplete">
    <h3 class="text-center">Please enter the below details</h3>
    <form name="pmanufacturerForm" class="mid-form" ng-submit="submitPmanufacturerForm(formData)" ng-if="!formComplete">
         <h4>About Yourself</h4>
        <hr>
            <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" name="firstName" ng-model="formData.firstName" class="form-control" aplha-only>
          <!--<div class="error-msg" ng-if="nutrionistForm.firstName.$invalid && nutrionistForm.firstName.$touched">Please Enter Your First Name</div>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Middle Name</label>
          <input type="text" name="middleName" ng-model="formData.middleName" class="form-control"  aplha-only>
          <!--<div class="error-msg" ng-if="nutrionistForm.middleName.$invalid && nutrionistForm.middleName.$touched">Please Enter Your Middle Name</div>-->
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" name="lastName" ng-model="formData.lastName" class="form-control"  aplha-only>
          <!--<div class="error-msg" ng-if="nutrionistForm.lastName.$invalid && nutrionistForm.lastName.$touched">Please Enter Your Last Name</div>-->
        </div>
      </div>
    </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text" name="mobileNumber" ng-model="formData.mobileNumber" class="form-control" numbers-only>
                    <!--<div class="error-msg" ng-if="pmanufacturerForm.mobileNumber.$invalid && pmanufacturerForm.mobileNumber.$touched">Please Enter Your Mobile</div>-->
                </div>
                <!--<div class="error" ng-if="validMobileno">Mobile Number is not valid or it should be 10 digits</div>-->
            </div>
            <div class="col-md-6">
                        <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="formData.email" class="form-control" >
                    <!--<div class="error-msg" ng-if="pmanufacturerForm.email.$invalid && pmanufacturerForm.email.$touched">Please Enter Your Email Id</div>-->
                </div>
                <!--<div class="error" ng-if="exist">Email Id Already Exist</div>-->
            </div>
        </div>
          
        <h4>Your Company Details</h4>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Years Trading</label>
                     <select class="form-control" name="trading" ng-model="formData.trading">
                  <option ng-selected="true" value="">Select </option>
                  <option value="0-1">0-1</option>
                 <option value="1-2">1-2</option>
                <option value="2-3">2-3</option>
               </select>
          <!--<div class="error-msg" ng-if="pmanufacturerForm.trading.$invalid && pmanufacturerForm.trading.$touched">Please Select Your Cause</div>-->
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Number of Products</label>
                    <select class="form-control" name="products" ng-model="formData.products">
                  <option ng-selected="true" value="">Select </option>
                  <option value="1-2">1-2</option>
                 <option value="3-5">3-5</option>
                <option value="6-10">6-10</option>
               </select>
          <!--<div class="error-msg" ng-if="pmanufacturerForm.products.$invalid && pmanufacturerForm.products.$touched">Please Select Your Cause</div>-->
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Annual Gross Revenue</label>
                     <select class="form-control" name="revenue" ng-model="formData.revenue">
                  <option ng-selected="true" value="">Select </option>
                  <option value="I prefer not to say">I prefer not to say</option>
                 <option value="0-10L">0-10L</option>
                <option value="1-20L">1-20L</option>
               </select>
                </div>
            </div>
              <div class="col-md-4">
                <div class="form-group">
                    <label>Which best describes your product industry?</label>
                     <select class="form-control" name="industry" ng-model="formData.industry">
                  <option ng-selected="true" value="">Select </option>
                  <option value="accessories">accessories</option>
                 <option value="arts/crafts">arts/crafts</option>
                <option value="baby">baby</option>
               </select>
                </div>
            </div>
        </div>
    <div class="row">
            <div class="col-md-12">
        <div class="form-group">
          <label>Company Address</label>
          <input type="text" name="companyaddress" ng-model="formData.companyaddress" class="form-control"  aplha-only>
        </div>
      </div>

    </div>
        <div class="row">
            <div class="col-md-6">
        <div class="form-group">
          <label>City</label>
          <input type="text" name="city" ng-model="formData.city" class="form-control"  aplha-only>
        </div>
      </div>
              <div class="col-md-6">
        <div class="form-group">
          <label>Zipcode</label>
          <input type="text" name="zipcode" ng-model="formData.zipcode" class="form-control"  aplha-only>
        </div>
      </div>

    </div>
            <div class="row">
            <div class="col-md-6">
        <div class="form-group">
          <label>State</label>
          <input type="text" name="state" ng-model="formData.state" class="form-control"  aplha-only>
        </div>
      </div>
              <div class="col-md-6">
        <div class="form-group">
          <label>Country</label>
           <select class="form-control" name="country" ng-model="formData.country">
                  <option ng-selected="true" value="">Select </option>
                  <option value="accessories">India</option>
                 <option value="arts/crafts">USA</option>
                <option value="baby">New Zealand</option>
               </select>
        </div>
      </div>

    </div>
            <div class="row">
            <div class="col-md-4">
        <div class="form-group">
          <label>Contact Person</label>
          <input type="text" name="cperson" ng-model="formData.cperson" class="form-control"  aplha-only>
        </div>
      </div>
              <div class="col-md-4">
        <div class="form-group">
          <label>Landline Number</label>
          <input type="text" name="landline" ng-model="formData.landline" class="form-control"  aplha-only>
        </div>
      </div>
                <div class="col-md-4">
        <div class="form-group">
          <label>Company Website</label>
          <input type="text" name="cwebsite" ng-model="formData.cwebsite" class="form-control"  aplha-only>
        </div>
      </div>

    </div>
        <div class="magic-form text-center">
            <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" id="terms" name="terms" value="true" required ng-model="formData.termsConditions">
                <label class="text text-left" for="terms">
               I have read and accept the&nbsp;<u>Terms &amp; Conditions</u>
            </label>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn" ng-disabled="pmanufacturerForm.$invalid"><span ng-if="pmanufacturerForm.$invalid">Please Enter Compulsory fields</span><span ng-if="!pmanufacturerForm.$invalid">Submit</span></button>
        </div>
    </form>

</div>
<div class="submit-thank min-h1" ng-if="formComplete">
    <h3 class="text-center">Thank You, we'll get back to you soon.</h3>

</div>