<div class="big-yoga food-banner">
   <div class="black-overlay"></div>
   <div class="container yoga-title text-center">
      <h1>Nutritionist</h1>
   </div>
</div>

<div class="container main-form">
   <h3 class="text-center">Please enter the below details</h3>
   <form name="nutrionistForm" class="mid-form" ng-submit="submitNutrionistForm(formData)">
      <h4>Personal Details</h4>
      <hr>
      <div class="row">
         <div class="col-md-4">
            <div class="form-group">
               <label>First Name*</label>
               <input type="text" name="firstName" ng-model="formData.firstName" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="nutrionistForm.firstName.$invalid && nutrionistForm.firstName.$touched">Please Enter Your First Name</div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group">
               <label>Middle Name*</label>
               <input type="text" name="middleName" ng-model="formData.middleName" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="nutrionistForm.middleName.$invalid && nutrionistForm.middleName.$touched">Please Enter Your Middle Name</div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group">
               <label>Last Name*</label>
               <input type="text" name="lastName" ng-model="formData.lastName" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="nutrionistForm.lastName.$invalid && nutrionistForm.lastName.$touched">Please Enter Your Last Name</div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Mobile*</label>
               <input type="text" name="mobileNumber" ng-model="formData.mobileNumber" class="form-control" required numbers-only>
               <div class="error-msg" ng-if="nutrionistForm.mobileNumber.$invalid && nutrionistForm.mobileNumber.$touched">Please Enter Your Mobile</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Landline</label>
               <input type="text" name="landlineNumber" ng-model="formData.landlineNumber" class="form-control" numbers-only>
               <div class="error-msg" ng-if="nutrionistForm.landlineNumber.$invalid && nutrionistForm.landlineNumber.$touched">Please Enter Your Phone Number</div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Email*</label>
               <input type="email" name="email" ng-model="formData.email" class="form-control" required>
               <div class="error-msg" ng-if="nutrionistForm.email.$invalid && nutrionistForm.email.$touched">Please Enter Your Email Id</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Country*</label>
               <select class="form-control" name="country" ng-model="formData.country" required>
                  <option value="{{country.name}}" ng-repeat="country in countries">{{country.name}}</option>
               </select>
               <div class="error-msg" ng-if="nutrionistForm.country.$invalid && nutrionistForm.country.$touched">Please Select Your Country</div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>State*</label>
               <input type="text" name="state" ng-model="formData.state" class="form-control" required>
               <div class="error-msg" ng-if="nutrionistForm.state.$invalid && nutrionistForm.state.$touched">Please Enter Your State</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>City*</label>
               <input type="text" name="city" ng-model="formData.city" class="form-control" required>
               <div class="error-msg" ng-if="nutrionistForm.city.$invalid && nutrionistForm.city.$touched">Please Enter Your City</div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Pincode*</label>
               <input type="text" name="zipcode" ng-model="formData.zipcode" class="form-control" required>
               <div class="error-msg" ng-if="nutrionistForm.zipcode.$invalid && nutrionistForm.zipcode.$touched">Please Enter Your Pincode</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Address Line 1*</label>
               <input type="text" name="address" ng-model="formData.address" class="form-control" required>
               <div class="error-msg" ng-if="nutrionistForm.address.$invalid && nutrionistForm.address.$touched">Please Enter Your Address</div>
            </div>
         </div>
         <div class="col-md-12">
            <div class="form-group">
               <label>Address Line 2</label>
               <input type="text" name="address2" ng-model="formData.address2" class="form-control">
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label>Educational Qualifications</label>
               <input type="text" name="qualifications" class="form-control">

            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="DegreeQualification">Photocopy of your degree/qualification certificate (Upload)</label>
               <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn relate choosing margin0"><span>Choose file</span>
                  <input type="file" id="DegreeQualification" class="form-control">
               </button>

            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="AdditionalQualification">Any additional certificates you may wish to submit (Upload)
               </label>
               <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn relate choosing margin0"><span>Choose file</span>
                  <input type="file" id="AdditionalQualification" class="form-control">
               </button>

            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label for="references">Please provide 2 references
               </label>
               <div class="row">
                  <div class="col-md-6">
                     <input type="text" name="references" class="form-control">
                  </div>
                  <div class="col-md-6">
                     <input type="text" name="references" class="form-control">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label>Please choose how you would like to contribute to YogaFoodLove</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-checkbox" type="checkbox" name="style" id="diet-nutrition" value="reviewDiet" ng-model="formData.style.reviewDiet">
                     <label class="text" for="diet-nutrition">
                        Review diet and nutrition related articles
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-checkbox" type="checkbox" name="style" id="write-article" value="writeArticles" ng-model="formData.style.writeArticles">
                     <label class="text" for="write-article">
                        Write articles for YogaFoodLove
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-checkbox" type="checkbox" name="style" id="free-consultation" value="onlineFree" ng-model="formData.style.onlineFree">
                     <label class="text" for="free-consultation">
                        Online free consultation
                     </label>
                  </div>

                  <div class="magic-resize">
                     <input class="magic-checkbox" type="checkbox" name="style" id="paid-consultation" value="onlinePaid" ng-model="formData.style.onlinePaid">
                     <label class="text" for="paid-consultation">
                        Online paid consultation
                     </label>
                  </div>

                  <div class="magic-resize">
                     <input class="magic-checkbox" type="checkbox" name="nutrition" id="otheroption" value="other" ng-model="formData.nutrition.other">
                     <label class="labewidtxt" for="otheroption">
                        Other
                     </label>
                  </div>
                  <input type="text" class="form-control textbox-other" placeholder="Please mention other" ng-if="formData.nutrition.other">

               </div>

            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="form-group">
               <label for="samples">Sample articles that you may wish to submit to help your portfolio (Upload)
               </label>
               <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn relate choosing margin0"><span>Choose file</span>
                  <input type="file" id="samples" class="form-control">
               </button>
            </div>
         </div>
      </div>
      <div class="magic-form text-center">
         <div class="magic-resize">
            <input class="magic-checkbox" type="checkbox" id="terms" name="terms" value="true" required>
            <label class="text text-left" for="terms">
               I have read and accept the&nbsp;<u>Terms &amp; Conditions</u>
            </label>
         </div>
      </div>

      <div class="form-group text-center">
         <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn" ng-disabled="nutrionistForm.$invalid"><span ng-if="nutrionistForm.$invalid">Please Enter Compulsory fields</span><span ng-if="!nutrionistForm.$invalid">Submit</span></button>
      </div>
   </form>
</div>
