<div class="big-yoga foods-banner">
    <div class="black-overlay"></div>
    <div class="container yoga-title text-center">
        <h1>chef</h1>
    </div>
</div>

<div class="container main-form" ng-if="!formComplete">
    <h3 class="text-center">Please enter the below details</h3>
    <form name="chefForm" class="mid-form" ng-submit="submitChefForm(formData)" ng-if="!formComplete">
       
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>First Name*</label>
                    <input type="text" name="firstName" ng-model="formData.firstName" class="form-control" required aplha-only>
                    <div class="error-msg" ng-if="chefForm.firstName.$invalid && chefFartistFormorm.firstName.$touched">Please Enter Your First Name</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Middle Name</label>
                    <input type="text" name="middleName" ng-model="formData.middleName" class="form-control" aplha-only>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Last Name*</label>
                    <input type="text" name="lastName" ng-model="formData.lastName" class="form-control" required aplha-only>
                    <div class="error-msg" ng-if="chefForm.lastName.$invalid && chefForm.lastName.$touched">Please Enter Your Last Name</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mobile*</label>
                    <input type="text" name="mobileNumber" ng-model="formData.mobileNumber" class="form-control" required numbers-only>
                    <div class="error-msg" ng-if="chefForm.mobileNumber.$invalid && chefForm.mobileNumber.$touched">Please Enter Your Mobile</div>
                </div>
                <div class="error" ng-if="validMobileno">Mobile Number is not valid or it should be 10 digits</div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email*</label>
                    <input type="email" name="email" ng-model="formData.email" class="form-control" required>
                    <div class="error-msg" ng-if="chefForm.email.$invalid && chefForm.email.$touched">Please Enter Your Email Id</div>
                </div>
                <div class="error" ng-if="exist">Email Id Already Exist</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Professional Experience (Years, months)</label>
                    <input type="text" name="professionalExperience" class="form-control" ng-model="formData.professionalExperience">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                 <div class="form-group">
                    <label>Restaurant Name</label>
                    <input type="text" name="professionalExperience" class="form-control" ng-model="formData.professionalExperience">
                </div>
            </div>
            <div class="col-md-6">
 <div class="form-group">
                    <label>Restaurant Website</label>
                    <input type="text" name="professionalExperience" class="form-control" ng-model="formData.professionalExperience">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                 <div class="form-group">
                    <label>Your hometown</label>
                    <input type="text" name="professionalExperience" class="form-control" ng-model="formData.professionalExperience">
                </div>
            </div>
               <div class="col-md-6">
                 <div class="form-group">
                    <label>Link to your best social footprint</label>
                    <input type="text" name="professionalExperience" class="form-control" ng-model="formData.professionalExperience">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                    <label>Describe your cooking style</label>
                    <input type="text" name="professionalExperience" class="form-control" ng-model="formData.professionalExperience">
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Your best cuisine</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="india" value="indian" >
                            <label class="text" for="india">
                      Indian
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="orient" value="oriental" >
                            <label class="text" for="orient">
                        Oriental
                     </label>
                        </div>
                            <div class="magic-resize">
                            <!--<label class="text" for="italian">-->
                            <input class="magic-radio" type="radio" name="cuisine" id="italian" value="italy">
                            <label class="text" for="italian">
                      Italian
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="america" value="american" >
                            <label class="text" for="america">
                     American
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="sindian" value="southindian" >
                            <label class="text" for="sindian">
                      South Indian
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="desserts" value="dessert" >
                            <label class="text" for="desserts">
                     Desserts
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="bakery" value="baker" >
                            <label class="text" for="bakery">
                       Bakery
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="mexico" value="mexican" >
                            <label class="text" for="mexico">
                    Mexican
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="mediterranean" value="mediteran" >
                            <label class="text" for="mediterranean">
                      Mediterranean
                     </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="continental" value="continentan" >
                            <label class="text" for="continental">
                     Continental
                     </label>
                        </div>
                                <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="fusion" value="fuse" >
                            <label class="text" for="fusion">
                    
Fusion
                     </label>
                        </div>
                                <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="vegan" value="vegans" >
                            <label class="text" for="vegan">
                    Vegan
                     </label>
                        </div>
                                     <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="beverages" value="beverage" >
                            <label class="text" for="beverages">
                   Beverages
                     </label>
                        </div>
                                     <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="salads" value="salad" >
                            <label class="text" for="salads">
                   Salads
                     </label>
                        </div>
                                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="cuisine" id="other" value="others" >
                            <label class="text" for="other">
                  Other:
                     </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>You would like to collaborate with YogaFoodLove as:</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="collaborate" id="resident" value="residental" >
                            <label class="text" for="resident">
                      Resident Chef
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="collaborate" id="independent" value="independence" >
                            <label class="text" for="independent">
                      Independent Chef
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="collaborate" id="blogger" value="blog" >
                            <label class="text" for="blogger">
                      Blogger
                     </label>
                        </div>
                            <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="collaborate" id="Other" value="true">
                            <label class="text" for="Other">
                       Other
                     </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="magic-form text-center">
            <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" id="terms" name="terms" value="true" required ng-model="formData.termsConditions">
                <label class="text text-left" for="terms">
               I have read and accept the&nbsp;<u>Terms &amp; Conditions</u>
            </label>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn" ng-disabled="chefForm.$invalid"><span ng-if="chefForm.$invalid">Please Enter Compulsory fields</span><span ng-if="!chefForm.$invalid">Submit</span></button>
        </div>
    </form>

</div>
<div class="submit-thank min-h1" ng-if="formComplete">
    <h3 class="text-center">Thank You, we'll get back to you soon.</h3>

</div>