<div class="big-yoga foods-banner">
   <div class="black-overlay"></div>
   <div class="container yoga-title text-center">
      <h1>Restaurant Listing</h1>
   </div>
</div>

<div class="container main-form" ng-if="!formComplete">
   <h3 class="text-center">Please enter the details below to collaborate with us</h3>
     <p class="text-center">All questions must be answered which are marked *</p>
   <form name="restaurantForm" class="mid-form" ng-submit="submitRestaurantForm(formData)" ng-if="!formComplete">
      <h4>Your Personal Details</h4>
      <hr>
      <div class="row">
         <div class="col-md-4">
            <div class="form-group">
               <label>First Name*</label>
               <input type="text" name="firstName" ng-model="formData.firstName" class="form-control" aplha-only required>
               <div class="error-msg" ng-if="restaurantForm.firstName.$invalid && restaurantForm.firstName.$touched">Please Enter Your First Name</div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group">
               <label>Middle Name</label>
               <input type="text" name="middleName" ng-model="formData.middleName" class="form-control"  aplha-only>
               <!--<div class="error-msg" ng-if="restaurantForm.middleName.$invalid && restaurantForm.middleName.$touched">Please Enter Your Middle Name</div>-->
            </div>
         </div>
         <div class="col-md-4">
            <div class="form-group">
               <label>Last Name*</label>
               <input type="text" name="lastName" ng-model="formData.lastName" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="restaurantForm.lastName.$invalid && restaurantForm.lastName.$touched">Please Enter Your Last Name</div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Mobile*</label>
               <input type="text" name="mobileNumber" ng-model="formData.mobileNumber" class="form-control" required numbers-only>
               <div class="error-msg" ng-if="restaurantForm.mobileNumber.$invalid && restaurantForm.mobileNumber.$touched">Please Enter Your Mobile</div>
            </div>
              <div class="error" ng-if="validMobileno">Mobile Number is not valid or it should be 10 digits</div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Landline</label>
               <input type="text" name="landline" ng-model="formData.landlineNumber" class="form-control" numbers-only>
               <!-- <div class="error-msg" ng-if="restaurantForm.landline.$invalid && restaurantForm.landline.$touched">Please Enter Your Phone Number</div> -->
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Email*</label>
               <input type="email" name="email" ng-model="formData.email" class="form-control" required>
               <div class="error-msg" ng-if="restaurantForm.email.$invalid && restaurantForm.email.$touched">Please Enter Your Email Id</div>
            </div>
            <div class="error" ng-if="exist">Email Already Exist</div>
         </div>
      </div>
      <h4>Restaurant Details</h4>
      <hr>
      <p>All fields required</p>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Name of the restaurant</label>
               <input type="text" name="restaurantName" ng-model="formData.restaurantName" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="restaurantForm.restaurantName.$invalid && restaurantForm.restaurantName.$touched">Please Enter Restaurant Name</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Country</label>
               <select class="form-control" name="country" ng-model="formData.country" required>
                  <option value="{{country.name}}" ng-repeat="country in countries">{{country.name}}</option>
               </select>
               <div class="error-msg" ng-if="restaurantForm.country.$invalid && restaurantForm.country.$touched">Please Select Your Country</div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Address</label>
               <input type="text" name="address" ng-model="formData.address" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="restaurantForm.address.$invalid && restaurantForm.address.$touched">Please Enter Address</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>State</label>
               <input type="text" name="state" ng-model="formData.state" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="restaurantForm.state.$invalid && restaurantForm.state.$touched">Please Enter Your State</div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Zip Code</label>
               <input type="text" name="zipcode" ng-model="formData.zipcode" class="form-control" numbers-only required>
               <div class="error-msg" ng-if="restaurantForm.zipcode.$invalid && restaurantForm.zipcode.$touched">Please Enter Zip Code</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>City</label>
               <input type="text" name="city" ng-model="formData.city" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="restaurantForm.city.$invalid && restaurantForm.city.$touched">Please Enter Your City</div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Phone Number</label>
               <input type="text" name="resPhoneNumbers" ng-model="formData.resPhoneNumbers" class="form-control" numbers-only required>
               <div class="error-msg" ng-if="restaurantForm.resPhoneNumbers.$invalid && restaurantForm.resPhoneNumbers.$touched">Please Enter Phone Number</div>
            </div>
            <div class="error" ng-if="resPhone">Phone Number is not valid </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Operations Manager Contact Name</label>
               <input type="text" name="managerName" ng-model="formData.managerName" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="restaurantForm.managerName.$invalid && restaurantForm.managerName.$touched">Please Enter Operation Manager Name</div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Operations Manager Contact Number</label>
               <input type="text" name="managerNumber" ng-model="formData.managerNumber" class="form-control" required numbers-only>
               <div class="error-msg" ng-if="restaurantForm.managerNumber.$invalid && restaurantForm.managerNumber.$touched">Please Enter Operation Manager Contact Number</div>
            </div>
            <div class="error" ng-if="conatctNumber">Contact Number is not valid or it should be 10 digits</div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Timings</label>
               <input type="text" name="timings" ng-model="formData.timings" class="form-control" required>
               <div class="error-msg" ng-if="restaurantForm.timings.$invalid && restaurantForm.timings.$touched">Please Enter Time</div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label>Cuisines (Please list all)</label>
               <input type="text" name="cuisines" ng-model="formData.cuisines" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="restaurantForm.cuisines.$invalid && restaurantForm.cuisines.$touched">Please Enter Cuisine</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label>Average cost for two</label>
               <input type="text" name="avgCost" ng-model="formData.avgCost" class="form-control" required>
               <div class="error-msg" ng-if="restaurantForm.avgCost.$invalid && restaurantForm.avgCost.$touched">Please Enter Average Cost</div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Home Delivery</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="homeDelivery" id="1" value="yes" ng-model="formData.homeDelivery" required>
                     <label class="text" for="1" >
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="homeDelivery" id="2" value="no" ng-model="formData.homeDelivery" required>
                     <label class="text" for="2" >
                        No
                     </label>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <label for="">Minumum Order Delivery</label>
            <input type="text" name="minOrder" ng-model="formData.minOrder" class="form-control" required>
            <div class="error-msg" ng-if="restaurantForm.minOrder.$invalid && restaurantForm.minOrder.$touched">Please Enter Minimum Order For Delivery</div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Dine-in Facility</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="dineIn" id="3" value="yes" ng-model="formData.dineIn" required>
                     <label class="text" for="3">
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="dineIn" id="4" value="no" ng-model="formData.dineIn" required>
                     <label class="text" for="4">
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Bar</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="bar" id="5" value="yes" ng-model="formData.bar" required>
                     <label class="text" for="5">
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="bar" id="6" value="no" ng-model="formData.bar" required>
                     <label class="text" for="6">
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Happy Hours</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="happyHours" id="7" value="yes" ng-model="formData.happyHours" required>
                     <label class="text" for="7">
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="happyHours" id="8" value="no" ng-model="formData.happyHours" required>
                     <label class="text" for="8" >
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Air-conditioned </label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="ac" id="9" value="yes" ng-model="formData.ac" required>
                     <label class="text" for="9">
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="ac" id="10" value="no" ng-model="formData.ac" required>
                     <label class="text" for="10">
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Wifi available</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="wifi" id="11" value="yes" ng-model="formData.wifi" required>
                     <label class="text" for="11">
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="wifi" id="12" value="no" ng-model="formData.wifi" required>
                     <label class="text" for="12">
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Outdoor dining facility</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="outDoorDining" id="13" value="yes" ng-model="formData.outDoorDining" required>
                     <label class="text" for="13">
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="outDoorDining" id="14" value="no" ng-model="formData.outDoorDining" required>
                     <label class="text" for="14">
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Live Music</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="liveMusic" id="15" value="yes" ng-model="formData.liveMusic" required >
                     <label class="text" for="15" >
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="liveMusic" id="16" value="no" ng-model="formData.liveMusic" required >
                     <label class="text" for="16" >
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Pure Vegetarian</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="pureVeg" id="17" value="yes" ng-model="formData.pureVeg" required>
                     <label class="text" for="17" >
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="pureVeg" id="18" value="no" ng-model="formData.pureVeg" required>
                     <label class="text" for="18" >
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Credit Cards accepted</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="creditCard" id="19" value="yes" ng-model="formData.creditCard" required>
                     <label class="text" for="19" >
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="creditCard" id="20" value="no" ng-model="formData.creditCard" required>
                     <label class="text" for="20" >
                        No
                     </label>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Smoking Area</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="smokingArea" id="21" value="yes" ng-model="formData.smokingArea" required>
                     <label class="text" for="21" >
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="smokingArea" id="22" value="no" ng-model="formData.smokingArea" required>
                     <label class="text" for="22" >
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Buffet Details (If any)</label>
               <input type="text" name="buffetDetails" ng-model="formData.buffetDetails" class="form-control" required aplha-only>
               <div class="error-msg" ng-if="restaurantForm.buffetDetails.$invalid && restaurantForm.buffetDetails.$touched">Please Enter Buffet Details</div>
            </div>
         </div>
         <div class="col-md-6">
            <div class="form-group">
               <label for="">Catering Services</label>
               <div class="magic-form">
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="catering" id="23" value="yes" ng-model="formData.catering" required>
                     <label class="text" for="23">
                        Yes
                     </label>
                  </div>
                  <div class="magic-resize">
                     <input class="magic-radio" type="radio" name="catering" id="24" value="No" ng-model="formData.catering" required>
                     <label class="text" for="24">
                        No
                     </label>
                  </div>
               </div>

            </div>
         </div>
      </div>
      <div class="form-group text-center">
         <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn" ng-disabled="restaurantForm.$invalid">Submit</button>
      </div>
   </form>
</div>
<div class="submit-thank min-h1" ng-if="formComplete">
   <h3 class="text-center">Thank You, we'll get back to you soon.</h3>

</div>


<!-- </div> -->
