<div class="big-yoga">
    <div class="black-overlay"></div>
    <div class="container yoga-title text-center">
        <h1>Sell on YogaFoodLove</h1>
    </div>
</div>

<div class="container main-form">
    <h3 class="text-center">Please enter the details below to collaborate with us</h3>
    <form name="userForm" class="mid-form">
      <h4>enter your business details</h4>
      <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Store Name*</label>
                    <input type="text" name="name" ng-model="formData.name" class="form-control" placeholder="Name*" required>
                    <div class="error-msg" ng-if="userForm.name.$invalid && userForm.name.$touched">Please Enter Your Full Name</div>
                </div>
            </div>
          </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name of Contact Person*</label>
                    <input type="text" name="name" ng-model="formData.name" class="form-control" placeholder="Name*" required>
                    <div class="error-msg" ng-if="userForm.name.$invalid && userForm.name.$touched">Please Enter Your Full Name</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label>Phone Number - Landline and Mobile *</label>
    <div class="magic-form">
                      <div class="magic-resize">
                          <input class="magic-radio" type="radio" name="phone" id="18" value="option1">
                          <label class="text" for="18">
                              Option1
                          </label>
                      </div>
      </div>
    </div>
        </div>
</div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label>Primary Category*</label>
    <div class="magic-form">
                      <div class="magic-resize">
                          <input class="magic-radio" type="radio" name="primarycategory" id="1" value="option2">
                          <label class="text" for="1">
                              Yoga Mat
                          </label>
                      </div>
      </div>
    <div class="magic-form">
                      <div class="magic-resize">
                          <input class="magic-radio" type="radio" name="primarycategory" id="2" value="option2">
                          <label class="text" for="2">
                              Yoga Clothing
                          </label>
                      </div>
      </div>
    <div class="magic-form">
                      <div class="magic-resize">
                          <input class="magic-radio" type="radio" name="primarycategory" id="3" value="option2">
                          <label class="text" for="3">
                              Other Yoga Products
                          </label>
                      </div>
      </div>
    <div class="magic-form">
                      <div class="magic-resize">
                          <input class="magic-radio" type="radio" name="primarycategory" id="4" value="option2">
                          <label class="text" for="4">
                              Organic Food
                          </label>
                      </div>
      </div>
    <div class="magic-form">
                      <div class="magic-resize">
                          <input class="magic-radio" type="radio" name="primarycategory" id="5" value="option2">
                          <label class="text" for="5">
                               Organic Beauty Care
                          </label>
                      </div>
      </div>
    <div class="magic-form">
                      <div class="magic-resize">
                          <input class="magic-radio" type="radio" name="primarycategory" id="6" value="option2">
                          <label class="text" for="6">
                               Organic Clothing
                          </label>
                      </div>
      </div>
    <div class="magic-form">
      <div class="magic-resize">
          <input class="magic-radio" type="radio" name="primarycategory" id="7" value="option2">
          <label class="labewidtxt" for="7">
              Other :
              <input type="text" class="form-control textbox-other" placeholder="">
          </label>
  </div>
      </div>
    </div>
        </div>
</div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" name="address" ng-model="formData.address" class="form-control" placeholder="Address">
                    <div class="error-msg" ng-if="userForm.address.$invalid && userForm.address.$touched">Please Enter Your Address</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>City*</label>
                    <input type="text" name="city" ng-model="formData.city" class="form-control" placeholder="City*" required>
                    <div class="error-msg" ng-if="userForm.city.$invalid && userForm.city.$touched">Please Enter Your City</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name of your organisation*</label>
                    <input type="text" name="organisation" ng-model="formData.organisation" class="form-control" placeholder="Name of your organisation*" required>
                    <div class="error-msg" ng-if="userForm.organisation.$invalid && userForm.organisation.$touched">Please Enter Your Organisation</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please select the amenities offered at your studio*</label>

                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="1" value="option1">
                            <label class="text" for="1">
                                Lockers
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="2" value="option1">
                            <label class="text" for="2">
                                Showers
                            </label>

                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="3" value="option1">
                            <label class="text" for="3">
                                Changing Room
                            </label>

                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="4" value="option1">
                            <label class="text" for="4">
                                Yoga Mats
                            </label>

                        </div>


                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Style of Yoga offered at your studio*</label>

                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="6" value="option1">
                            <label class="text" for="6">
                                Power Yoga
                            </label>

                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="7" value="option1">
                            <label class="text" for="7">
                                Iyengar Yoga
                            </label>

                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="8" value="option1">
                            <label class="text" for="8">
                                Ashtanga Yoga
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="9" value="option1">
                            <label class="text" for="9">
                                Bikram Yoga
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="10" value="option1">
                            <label class="text" for="10">
                                Vinyasa Yoga
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="11" value="option1">
                            <label class="text" for="11">
                                Hatha Yoga
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="12" value="option1">
                            <label class="text" for="12">
                                Sivananda Yoga
                            </label>

                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="13" value="option1">
                            <label class="labewidtxt" for="13">
                                Other :
                                <input type="#" class="form-control textbox-other" placeholder="">
                            </label>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Give a brief description about the type of yoga taught at your institute.</label>
                    <input type="text" name="description" ng-model="formData.description" class="form-control" placeholder="Give a brief description about the type of yoga taught at your institute.">
                    <div class="error-msg" ng-if="userForm.description.$invalid && userForm.description.$touched">Please Enter Your Description</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Please list the teachers/instructors at your studio.</label>
                    <input type="text" name="studio" ng-model="formData.studio" class="form-control" placeholder="Please list the teachers/instructors at your studio.">
                    <div class="error-msg" ng-if="userForm.studio.$invalid && userForm.studio.$touched">Please Enter Your Studio.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Kindly provide the class level*</label>

                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="radio" id="14" value="option1">
                            <label class="text" for="14">
                                Beginner
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="radio" id="15" value="option1">
                            <label class="text" for="15">
                                Advanced
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="radio" id="16" value="option1">
                            <label class="text" for="16">
                                Open Level
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="radio" id="17" value="option1">
                            <label class="labewidtxt" for="17">
                                Other :
                                <input type="#" class="form-control textbox-other" placeholder="">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Do you have an official website?*</label>



                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please provide your website address.</label>
                    <input type="text" name="websiteAddress" ng-model="formData.websiteAddress" class="form-control" placeholder="Please provide your website address.">
                    <div class="error-msg" ng-if="userForm.websiteAddress.$invalid && userForm.websiteAddress.$touched">Please provide your website address</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Please provide a link to your Facebook Page.</label>
                    <input type="text" name="facebookpagelink" ng-model="formData.facebookpagelink" class="form-control" placeholder="Please provide a link to your Facebook Page.">
                    <div class="error-msg" ng-if="userForm.facebookpagelink.$invalid && userForm.facebookpagelink.$touched">Please provide a link to your Facebook Page</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please provide a link to your Instagram account.</label>
                    <input type="text" name="instagrampagelink" ng-model="formData.instagrampagelink" class="form-control" placeholder="Please provide a link to your Instagram account.">
                    <div class="error-msg" ng-if="userForm.instagrampagelink.$invalid && userForm.instagrampagelink.$touched">Please provide a link to your Instagram account</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Are you active on any other social media platforms?*</label>
                    <input type="text" name="anyothersocialmedia" ng-model="formData.anyothersocialmedia" class="form-control" placeholder="Are you active on any other social media platforms?*" required>
                    <div class="error-msg" ng-if="userForm.anyothersocialmedia.$invalid && userForm.anyothersocialmedia.$touched">Are you active on any other social media platforms?</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>List the address for your branches.</label>
                    <input type="text" name="listaddressurbranches" ng-model="formData.listaddressurbranches" class="form-control" placeholder="List the address for your branches.">
                    <div class="error-msg" ng-if="userForm.listaddressurbranches.$invalid && userForm.listaddressurbranches.$touched">List the address for your branches</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Do you have other branches?*</label>
            <div class="magic-form">
                <div class="magic-resize">
                    <input class="magic-radio" type="radio" name="branches" id="20" value="option1">
                    <label class="text" for="20">
                        Yes
                    </label>
                </div>

                <div class="magic-resize">
                    <input class="magic-radio" type="radio" name="branches" id="21" value="option1">
                    <label class="text" for="21">
                        No
                    </label>
                </div>
            </div>
        </div>

        <div class="magic-form">
            <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" id="terms" name="terms" value="true">
                <label class="text" for="terms">
                  I have read and accept the&nbsp;<u>Terms &amp; Conditions</u>
                </label>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn">Submit</button>
        </div>
</div>

</form>
