<div class="big-yoga enthu-banner">
    <div class="black-overlay"></div>
    <div class="container yoga-title text-center">
        <h1>Yoga Instructor/Teacher </h1>
    </div>
</div>

<div class="container main-form" ng-if="!formComplete">
    <h3 class="text-center">Please enter the below details</h3>
    <form name="teacherForm" class="mid-form">
        <h4>Personal Details</h4>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>First Name*</label>
                    <input type="text" name="firstName" ng-model="formData.firstName" class="form-control" required aplha-only>
                    <div class="error-msg" ng-if="teacherForm.firstName.$invalid && teacherForm.firstName.$touched">Please Enter Your First Name</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Middle Name*</label>
                    <input type="text" name="middleName" ng-model="formData.middleName" class="form-control" required aplha-only>
                    <div class="error-msg" ng-if="teacherForm.middleName.$invalid && teacherForm.middleName.$touched">Please Enter Your Middle Name</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Last Name*</label>
                    <input type="text" name="lastName" ng-model="formData.lastName" class="form-control" required aplha-only>
                    <div class="error-msg" ng-if="teacherForm.lastName.$invalid && teacherForm.lastName.$touched">Please Enter Your Last Name</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Mobile*</label>
                    <input type="text" name="mobileNumber" ng-model="formData.mobileNumber" class="form-control" required numbers-only>
                    <div class="error-msg" ng-if="teacherForm.mobileNumber.$invalid && teacherForm.mobileNumber.$touched">Please Enter Your Mobile</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Landline</label>
                    <input type="text" name="landlineNumber" ng-model="formData.landlineNumber" class="form-control" numbers-only>
                    <div class="error-msg" ng-if="teacherForm.landlineNumber.$invalid && teacherForm.landlineNumber.$touched">Please Enter Your Phone Number</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Email*</label>
                    <input type="email" name="email" ng-model="formData.email" class="form-control" required>
                    <div class="error-msg" ng-if="teacherForm.email.$invalid && teacherForm.email.$touched">Please Enter Your Email Id</div>
                </div>
                  <div class="error" ng-if="exist">Email Id Already Exist</div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Country*</label>
                    <select class="form-control" name="country" ng-model="formData.country" required>
                        <option value="{{country.name}}" ng-repeat="country in countries">{{country.name}}</option>
                    </select>
                    <div class="error-msg" ng-if="teacherForm.country.$invalid && teacherForm.country.$touched">Please Select Your Country</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>State*</label>
                    <input type="text" name="state" ng-model="formData.state" class="form-control" required>
                    <div class="error-msg" ng-if="teacherForm.state.$invalid && teacherForm.state.$touched">Please Enter Your State</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>City*</label>
                    <input type="text" name="city" ng-model="formData.city" class="form-control" required>
                    <div class="error-msg" ng-if="teacherForm.city.$invalid && teacherForm.city.$touched">Please Enter Your City</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Pincode*</label>
                    <input type="text" name="pincode" ng-model="formData.pincode" class="form-control" required>
                    <div class="error-msg" ng-if="teacherForm.pincode.$invalid && teacherForm.pincode.$touched">Please Enter Your Pincode</div>
                </div>
                  <div class="error" ng-if="invalidPincode">Enter Valid Pincode</div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Age*</label>
                    <input type="text" name="age" ng-model="formData.age" class="form-control" required>
                    <div class="error-msg" ng-if="teacherForm.age.$invalid && teacherForm.age.$touched">Please Enter Your Age</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 1*</label>
                    <input type="text" name="address" ng-model="formData.address1" class="form-control" required>
                    <div class="error-msg" ng-if="teacherForm.address1.$invalid && teacherForm.address1.$touched">Please Enter Your Address</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 2</label>
                    <input type="text" name="address2" ng-model="formData.address2" class="form-control">
                </div>
            </div>
        </div>
       <div class="row">
           <div class="col-md-6">
                <div class="form-group">
                    <label>Are you a certified yoga teacher? If yes, please specify certification details. *</label>
                    <input type="text" name="certification" ng-model="formData.certification" class="form-control">
                </div>
           </div>
           <div class="col-md-6">
 <div class="form-group">
                    <label>Other qualifications *</label>
                    <input type="text" name="qualifications" ng-model="formData.qualifications" class="form-control">
                </div>
           </div>
       </div>
        <div class="row">
           <div class="col-md-6">
                <div class="form-group">
                    <label>Professional Experience (in years) *</label>
                    <input type="text" name="professional" ng-model="formData.professional" class="form-control">
                </div>
           </div>
           <div class="col-md-6">
 <div class="form-group">
                    <label>Specialisation (Style of Yoga you teach) *</label>
                    <input type="text" name="specialisation" ng-model="formData.specialisation" class="form-control">
                </div>
           </div>
       </div>
          <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Kindly select the level you teach from the below options. *</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="1" value="lockers" ng-model="formData.amenities.lockers" ng-click="goToamenities('lockers')">
                            <label class="text" for="1">
                                Beginner
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="2" value="showers" ng-model="formData.amenities.showers" ng-click="goToamenities('showers')">
                            <label class="text" for="2">
                             Intermediate
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="3" value="changingRoom" ng-model="formData.amenities.changingRoom" ng-click="goToamenities('changingRoom')">
                            <label class="text" for="3">
                               Advanced
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="4" value="yogaMats" ng-model="formData.amenities.yogaMats" ng-click="goToamenities('yogaMats')">
                            <label class="text" for="4">
                              Open level
                            </label>
                        </div>
                </div>
            </div>
              </div>
            </div>
             <div class="row">
           <div class="col-md-6">
                <div class="form-group">
                    <label>How much do you charge per session?</label>
                    <input type="text" name="charge" ng-model="formData.charge" class="form-control">
                </div>
           </div>
           <div class="col-md-6">
 <div class="form-group">
                    <label>Studios you are affiliated with.</label>
                    <input type="text" name="affiliated" ng-model="formData.affiliated" class="form-control">
                </div>
           </div>
       </div>
                   <div class="row">
           <div class="col-md-6">
                <div class="form-group">
                    <label>Briefly mention about your experience in Learning/Teaching Yoga.</label>
                    <input type="text" name="teaching" ng-model="formData.teaching" class="form-control">
                </div>
           </div>
           <div class="col-md-6">
 <div class="form-group">
                    <label>Do you have an official website? If yes, please provide your website address.</label>
                    <input type="text" name="official" ng-model="formData.official" class="form-control">
                </div>
           </div>
       </div>
             <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please provide a link to your Facebook Page.</label>
                    <input type="text" name="facebook" ng-model="formData.facebook" class="form-control" required>
                    <div class="error-msg" ng-if="userForm.facebook.$invalid && userForm.facebook.$touched">Please Enter Your Organisation</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please provide a link to your Instagram account.</label>
                    <input type="text" name="instagram" ng-model="formData.description" class="form-control">
                    <div class="error-msg" ng-if="userForm.instagram.$invalid && userForm.instagram.$touched">Please Enter Your Description</div>
                </div>
            </div>
        </div>
                      <div class="row">
           <div class="col-md-6">
                <div class="form-group">
                    <label>Are you active on any other social media platforms? (Pinterest, Youtube, Twitter, Google +, etc) *</label>
                    <input type="text" name="social" ng-model="formData.social" class="form-control">
                </div>
           </div>
           <div class="col-md-6">
 <div class="form-group">
                    <label>Do you use a particular platform for your class scheduling? *</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="teachingLevel" id="14" value="beginner" ng-model="formData.teachingLevel">
                            <label class="text" for="14">
                             Yes
                            </label>
                        </div>
                          <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="teachingLevel" id="14" value="beginner" ng-model="formData.teachingLevel">
                            <label class="text" for="14">
                           No
                            </label>
                        </div>
                </div>
                      
                      
                
           </div>
       </div>
       </div>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please share available hours and days from your schedule when you would be able to accommodate new classes. *</label>
                    <input type="text" name="available" ng-model="formData.available" class="form-control" required>
                    <div class="error-msg" ng-if="userForm.available.$invalid && userForm.available.$touched">Please Enter Your Organisation</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Feedback / Queries</label>
                    <input type="text" name="feedback" ng-model="formData.feedback" class="form-control">
                    <div class="error-msg" ng-if="userForm.feedback.$invalid && userForm.feedback.$touched">Please Enter Your Description</div>
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name of your organisation*</label>
                    <input type="text" name="organizationName" ng-model="formData.organizationName" class="form-control" required>
                    <div class="error-msg" ng-if="userForm.organizationName.$invalid && userForm.organizationName.$touched">Please Enter Your Organisation</div>
                </div>
                  <div class="error" ng-if="organizationName">Enter Your Organisation<</div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Give a brief description about the type of yoga taught at your institute</label>
                    <input type="text" name="description" ng-model="formData.description" class="form-control">
                    <div class="error-msg" ng-if="userForm.description.$invalid && userForm.description.$touched">Please Enter Your Description</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please select the amenities offered at your studio*</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="1" value="lockers" ng-model="formData.amenities.lockers" ng-click="goToamenities('lockers')">
                            <label class="text" for="1">
                                Lockers
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="2" value="showers" ng-model="formData.amenities.showers" ng-click="goToamenities('showers')">
                            <label class="text" for="2">
                                Showers
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="3" value="changingRoom" ng-model="formData.amenities.changingRoom" ng-click="goToamenities('changingRoom')">
                            <label class="text" for="3">
                                Changing Room
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="4" value="yogaMats" ng-model="formData.amenities.yogaMats" ng-click="goToamenities('yogaMats')">
                            <label class="text" for="4">
                                Yoga Mats
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="amenities" id="5" value="other" ng-model="formData.amenities.other" ng-click="goToamenities('other')">
                            <label class="labewidtxt" for="5">
                                Other
                            </label>
                        </div>
                        <input type="text" class="form-control textbox-other" placeholder="Please mention other" ng-if="formData.amenities.other" ng-model="formData.myother">
                    </div>
                    <div class="error" ng-if="noamenities" style="font-size:16px;margin:10px 0 0;">
                       Please select the amenities
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Style of Yoga   at your studio*</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="6" value="Power Yoga" ng-model="formData.style.powerYoga" ng-click="goToyogaOffer('Power Yoga')">
                            <label class="text" for="6">
                                Power Yoga
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="7" value="Iyengar Yoga" ng-model="formData.style.iyengarYoga" ng-click="goToyogaOffer('Iyengar Yoga')">
                            <label class="text" for="7">
                                Iyengar Yoga
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="8" value="Ashtanga Yoga" ng-model="formData.style.ashtangaYoga" ng-click="goToyogaOffer('Ashtanga Yoga')">
                            <label class="text" for="8">
                                Ashtanga Yoga
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="9" value="Bikram Yoga" ng-model="formData.style.bikramYoga" ng-click="goToyogaOffer('Bikram Yoga')">
                            <label class="text" for="9">
                                Bikram Yoga
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="10" value="Vinyasa Yoga" ng-model="formData.style.vinyasaYoga" ng-click="goToyogaOffer('Vinyasa Yoga')">
                            <label class="text" for="10">
                                Vinyasa Yoga
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="11" value="Hatha Yoga" ng-model="formData.style.hathYoga" ng-click="goToyogaOffer('Hatha Yoga')">
                            <label class="text" for="11">
                                Hatha Yoga
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="12" value="Sivananda Yoga" ng-model="formData.style.sivanandaYoga" ng-click="goToyogaOffer('Sivananda Yoga')">
                            <label class="text" for="12">
                                Sivananda Yoga
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="style" id="13" value="other" ng-model="formData.style.other" ng-click="goToyogaOffer('other')">
                            <label class="labewidtxt" for="13">
                                Other
                            </label>
                        </div>
                        <input type="text" class="form-control textbox-other" placeholder="Please mention other" ng-if="formData.style.other" ng-model="formData.myotherYogaStyle">

                    </div>

                </div>
                <div class="error" ng-if="noYogastyle" style="font-size:16px;margin:10px 0 0;">
                   Please select Style of Yoga
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Please list the teachers/instructors at your studio</label>
                    <input type="text" name="studio" ng-model="formData.studio" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Kindly provide the class level*</label>

                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="teachingLevel" id="14" value="beginner" ng-model="formData.teachingLevel">
                            <label class="text" for="14">
                                Beginner
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="teachingLevel" id="15" value="advanced" ng-model="formData.teachingLevel">
                            <label class="text" for="15">
                                Advanced
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="teachingLevel" id="16" value="open level" ng-model="formData.teachingLevel">
                            <label class="text" for="16">
                                Open Level
                            </label>
                        </div>

                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="teachingLevel" id="17" value="other" ng-model="formData.teachingLevel">
                            <label class="labewidtxt" for="17">
                                Other
                            </label>
                        </div>
                        <input type="text" class="form-control textbox-other" placeholder="Please mention other" ng-if="formData.teachingLevel == 'other'" ng-model="formData.otherCat">

                    </div>
                </div>
                <div class="error" ng-if="teachingLevel" style="font-size:16px;margin:10px 0 0;">
                   Please select class level
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Do you have an official website?*</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="web" id="18" value="true" ng-model="formData.ifWebsite" required>
                            <label class="text" for="18">
                                Yes
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="web" id="19" value="false" ng-model="formData.ifWebsite" required>
                            <label class="text" for="19">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="error" ng-if="officialWebsiteAddress" style="font-size:16px;margin:10px 0 0;">
                       Please select one of these.
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" name="website" placeholder="Please provide your website address*"  class="form-control textbox-other" ng-if="formData.ifWebsite == 'true'" required ng-model="formData.officialWebsiteAddress">
                    <div class="error-msg" ng-if="userForm.website.$invalid && userForm.website.$touched">Please provide your website address</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please provide a link to your Facebook Page</label>
                    <input type="text" name="facebookpagelink" ng-model="formData.facebookpagelink" class="form-control">
                    <div class="error-msg" ng-if="userForm.facebookpagelink.$invalid && userForm.facebookpagelink.$touched">Please provide a link to your Facebook Page</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Please provide a link to your Instagram account</label>
                    <input type="text" name="instagrampagelink" ng-model="formData.instagrampagelink" class="form-control">
                    <div class="error-msg" ng-if="userForm.instagrampagelink.$invalid && userForm.instagrampagelink.$touched">Please provide a link to your Instagram account</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Are you active on any other social media platforms?*</label>
                    <input type="text" name="anyothersocialmedia"  class="form-control" ng-model="formData.isActiveSocial" required>
                    <div class="error-msg" ng-if="userForm.anyothersocialmedia.$invalid && userForm.anyothersocialmedia.$touched">Are you active on any other social media platforms?</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Do you have other branches?*</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="branches" id="20" value="true" ng-model="formData.ifBranches">
                            <label class="text" for="20">
                                Yes
                            </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="branches" id="21" value="false" ng-model="formData.ifBranches">
                            <label class="text" for="21">
                                No
                            </label>
                        </div>
                    </div>
                    <div class="error" ng-if="listBranches" style="font-size:16px;margin:10px 0 0;">
                       Please select one of these.
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="formData.ifBranches == 'true'">
            <div class="col-md-12">
                <div class="form-group">
                    <label>List the address for your branches*</label>
                    <textarea name="branches"  class="form-control" required ng-model="formData.listBranches"></textarea>
                            <div class="error-msg" ng-if="userForm.branches.$invalid && userForm.branches.$touched">List the address for your branches</div>
                        </div>
                    </div>
                </div>-->

                <div class="magic-form text-center">
                    <div class="magic-resize">
                        <input class="magic-checkbox" type="checkbox" id="terms" name="terms" value="true" required ng-model="formData.termsConditions">
                        <label class="text text-left" for="terms">
                            I have read and accept the&nbsp;<u>Terms &amp; Conditions</u>
                        </label>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn" ng-disabled="userForm.$invalid"><span ng-if="userForm.$invalid">Please Enter Compulsory fields</span><span  ng-if="!userForm.$invalid">Submit</span></button>
                </div>

            </form>
        </div>
        <div class="submit-thank min-h1" ng-if="formComplete">
           <h3 class="text-center">Thank You, we'll get back to you soon.</h3>

        </div>
