<div class="big-yoga">
    <div class="black-overlay"></div>
    <div class="container yoga-title text-center">
        <h1>Sell on YogaFoodLove</h1>
    </div>
</div>

<div class="container main-form">
    <h3 class="text-center">Please enter the details below to collaborate with us</h3>
    <form name="userForm" class="mid-form">
        <h4>Enter Your Business Details</h4>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Store Name*</label>
                    <input type="text" name="storename" ng-model="formData.storename" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.storename.$invalid && userForm.storename.$touched">Please Enter Your Store Name</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Phone Number - Landline*</label>
                    <input type="text" name="contactdetails1" ng-model="formData.contactdetails1" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.contactdetails1.$invalid && userForm.contactdetails1.$touched">Please Enter Contact Details</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name of Contact Person*</label>
                    <input type="text" name="contactpersonname" ng-model="formData.contactpersonname" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.contactpersonname.$invalid && userForm.contactpersonname.$touched">Please Enter Contact Person's Name</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Phone Number - Mobile*</label>
                    <input type="text" name="contactdetails" ng-model="formData.contactdetails" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.contactdetails.$invalid && userForm.contactdetails.$touched">Please Enter Contact Details</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Primary Category*</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="primarycategory" id="1" value="option2">
                            <label class="text" for="1">
                              Yoga Mat
                          </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="primarycategory" id="2" value="option2">
                            <label class="text" for="2">
                              Yoga Clothing
                          </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="primarycategory" id="3" value="option2">
                            <label class="text" for="3">
                              Other Yoga Products
                          </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="primarycategory" id="4" value="option2">
                            <label class="text" for="4">
                              Organic Food
                          </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="primarycategory" id="5" value="option2">
                            <label class="text" for="5">
                               Organic Beauty Care
                          </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="primarycategory" id="6" value="option2">
                            <label class="text" for="6">
                               Organic Clothing
                          </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="primarycategory" id="7" value="option2">
                            <label class="labewidtxt" for="7">
              Other :
              <input type="text" class="form-control textbox-other" placeholder="">
          </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <h4>Enter your Business Address</h4>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 1*</label>
                    <input type="text" name="address" ng-model="formData.address" class="form-control" placeholder="">
                    <div class="error-msg" ng-if="userForm.address.$invalid && userForm.address.$touched">Please Enter Your Address</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Country*</label>
                    <select class="form-control" name="country" ng-model="formData.country" required>
                        <option value="{{country.name}}" ng-repeat="country in countries">{{country.name}}</option>
                    </select>
                    <div class="error-msg" ng-if="userForm.country.$invalid && userForm.country.$touched">Please Select Your Country</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Address Line 2*</label>
                    <input type="text" name="address2" ng-model="formData.organisation" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.address2.$invalid && userForm.address2.$touched">Please Enter Your Address</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>State*</label>
                    <input type="text" name="state" ng-model="formData.state" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.state.$invalid && userForm.state.$touched">Please Enter Your State</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Pin Code*</label>
                    <input type="text" name="pincode" ng-model="formData.pincode" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.pincode.$invalid && userForm.pincode.$touched">Please Enter Your Pincode</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>City*</label>
                    <input type="text" name="city" ng-model="formData.city" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.city.$invalid && userForm.city.$touched">Please Enter Your City</div>
                </div>
            </div>
        </div>
        <h4>Update your VAT and CST details</h4>
        <hr>
        <p>If you sell only Books or Fabrics/Textiles (unstitched) then you are generally exempted from providing VAT & CST registration number.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Pan number*</label>
                    <input type="text" name="pan" ng-model="formData.pan" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.pan.$invalid && userForm.pan.$touched">Please Enter Your Pan number</div>
                </div>
                <div class="form-group">
                    <label>VAT / TIN Number*</label>
                    <input type="text" name="vat" ng-model="formData.vat" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.vat.$invalid && userForm.vat.$touched">Please Enter Your Vat/TIN number</div>
                </div>
                <div class="form-group">
                    <label>CST number*</label>
                    <input type="text" name="cst" ng-model="formData.cst" class="form-control" placeholder="" required>
                    <div class="error-msg" ng-if="userForm.cst.$invalid && userForm.cst.$touched">Please Enter Your CST number</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Don't have VAT/CST?</label>

                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="vat" id="8" value="option3">
                            <label class="text" for="8">
                    Sell in VAT exempted categories
                  </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4>Choose categories you wish to sell</h4>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Books, Movies & Games</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="movieandgames" id="9" value="option4">
                            <label class="text" for="9">
        Books
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="movieandgames" id="10" value="option4">
                            <label class="text" for="10">
        Movies
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="movieandgames" id="11" value="option4">
                            <label class="text" for="11">
        Musical Instruments
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="movieandgames" id="12" value="option4">
                            <label class="text" for="12">
        Musical
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="movieandgames" id="13" value="option4">
                            <label class="text" for="13">
        Video Games
      </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Clothing, Shoes & Jewelry</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="CSJ" id="14" value="option5">
                            <label class="text" for="14">
        Clothing
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="CSJ" id="15" value="option5">
                            <label class="text" for="15">
        Shoes
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="CSJ" id="16" value="option5">
                            <label class="text" for="16">
        Watches
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="CSJ" id="17" value="option5">
                            <label class="text" for="17">
        Jewelery
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="CSJ" id="18" value="option5">
                            <label class="text" for="18">
        Luggage
      </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Beauty, Health & Groceries</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="BHG" id="19" value="option6">
                            <label class="text" for="19">
        Beauty
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="BHG" id="20" value="option6">
                            <label class="text" for="20">
        Grocery
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="BHG" id="21" value="option6">
                            <label class="text" for="21">
        Health
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="BHG" id="22" value="option6">
                            <label class="text" for="22">
        Personal Care Appliances
      </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Yoga Products</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="YP" id="23" value="option7">
                            <label class="text" for="23">
        Yoga Mats
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="YP" id="24" value="option7">
                            <label class="text" for="24">
       Yoga Clothing
      </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="yogaproduct" id="25" value="other" ng-model="formData.yogaproduct.other">
                            <label class="labewidtxt" for="25">
                                Other
                            </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Other</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="BHG" id="26" value="option8">
                            <label class="text" for="26">
          My Category is not here
        </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Where do you get products from?</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="BHG" id="27" value="option9">
                            <label class="text" for="27">
          I manufacture them
        </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="BHG" id="28" value="option9">
                            <label class="text" for="28">
          I resell product that I buy
        </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="BHG" id="29" value="option9">
                            <label class="text" for="29">
          I sell products manufactured from me
        </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-checkbox" type="checkbox" name="BHG" id="30" value="option9">
                            <label class="text" for="30">
           I import them
        </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>What is your annual turnover? *</label>
                    <select name="income" id="">
        <option value=""></option>
        <option value="">Less Than 1 lakh</option>
        <option value="">Between 1 lakh and 10 lakh</option>
        <option value="">Between 10 lakh and 1 crore</option>
        <option value="">More than 1 crore</option>
        <option value="">I don't know</option>
      </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>How many products do you sell? *</label>
                    <select name="sales" id="">
        <option value=""></option>
        <option value="">1-10</option>
        <option value="">11-100</option>
        <option value="">101-500</option>
        <option value="">More than 500</option>
        <option value="">I don't know</option>
      </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Do you sell on other websites? *</label>
                    <div class="magic-form">
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="otherweb" id="31" value="option10">
                            <label class="text" for="31">
  Yes
  </label>
                        </div>
                        <div class="magic-resize">
                            <input class="magic-radio" type="radio" name="otherweb" id="32" value="option10">
                            <label class="text" for="32">
  No
  </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    Please provide url of any product from the other website.
                    <div class="magic-resize">

                        <input type="text" class="form-control textbox-other" placeholder="">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-texture btn-lg sub-btn">Submit</button>
        </div>
</div>

</form>
