
<section class="hidden-xs">

<div class="yfl-relative">
  <div class="main-slider">
    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li auto-height>
            <img ng-src="{{s}}" class="img-responsive" auto-heightfixed>
        </li>
    </flex-slider>
  </div>
  <div class="container">
  <div class="row">
  <div class="main-middle col-md-5 text-center">
    <div class="logo"><img src="img/logo.png" class="img-responsive"></div>
    <h1>welcome to yoga food love</h1>
    <p class="mid-cont">Yoga Food Love is a global community being built on the  principles of yoga.
       At YFL we aim to facilitate connecting like-minded people who believe in conscious
       living with an attitude of gratitude. A family that breathes deeply, gives freely
       and loves openly.</p>
       <p>"Yoga is the journey of the self, through the self, to the self." -
        <span class="red-text">The Bhagavad Gita</span>
       </p>

       <h1>stay tuned</h1>
       <p><strong>We’ve got a lot more coming soon.</strong></p>

       <div class="input-group search">
         <input type="text" class="form-control search-input" placeholder="Subscribe to our Newsletter">
         <span class="input-group-btn">
           <button class="btn btn-default go-btn" type="button">
             <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
           </button>
         </span>
       </div>

       <!-- <div class="newsletter">
                    <input type="text" placeholder="Subscribe to our Newsletter">
                    <div class="submit">
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>Go!
                    </div>

                </div> -->
                <!-- <input type="submit" value=""> -->
  </div>
</div>
</div>
</div>

</section>

<section class="hidden-lg hidden-md hidden-sm visible-xs">
  <div class="yfl-relative">
    <div class="container">
    <div class="row">
    <div class="main-middle col-md-5 text-center">
      <div class="logo"><img src="img/logo.png" class="img-responsive"></div>
      <h1>welcome to yoga food love</h1>
      <p class="mid-cont">Yoga Food Love is a global community being built on the  principles of yoga.
         At YFL we aim to facilitate connecting like-minded people who believe in conscious
         living with an attitude of gratitude. A family that breathes deeply, gives freely
         and loves openly.</p>
         <p>"Yoga is the journey of the self, through the self, to the self." -
          <span class="red-text">The Bhagavad Gita</span>
         </p>

         <h1>stay tuned</h1>
         <p><strong>We’ve got a lot more coming soon.</strong></p>

         <div class="input-group search">
           <input type="text" class="form-control search-input" placeholder="Subscribe to our Newsletter">
           <span class="input-group-btn">
             <button class="btn btn-default go-btn" type="button">
               <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
             </button>
           </span>
         </div>

         <!-- <div class="newsletter">
                      <input type="text" placeholder="Subscribe to our Newsletter">
                      <div class="submit">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>Go!
                      </div>

                  </div> -->
                  <!-- <input type="submit" value=""> -->
    </div>
  </div>
  </div>
  </div>

</section>

<div class="container">
  <div class="row">
    <div  class="col-md-4 text-center">
      <div class="social-name">
        <p>facebook</p>
        <div class="border-image"></div>
        <div class="new-widget">
          <div class="fb-page" data-href="https://www.facebook.com/yogafoodlove" data-tabs="timeline" data-width="340" data-height="360" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/yogafoodlove" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/yogafoodlove">Yoga Food Love</a></blockquote></div>
        </div>
      </div>

    </div>
    <div  class="col-md-4 text-center">
      <div class="social-name">
        <p>twitter</p>
        <div class="border-image"></div>
        <div class="new-widget">
          <a class="twitter-timeline" data-tabs="timeline" width="340" height="360" href="https://twitter.com/YogaFoodLove">Tweets by YogaFoodLove</a>
          <!-- <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 100%; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px; height: 360px;" data-widget-id="profile_YogaFoodLove" title="Twitter Timeline"></iframe> -->
        </div>
      </div>
    </div>
    <div  class="col-md-4 text-center">
      <div class="social-name">
        <p>instagram</p>
        <div class="border-image"></div>
        <div class="new-widget">
          <!-- LightWidget WIDGET --><iframe src="//lightwidget.com/widgets/94a7f5bc05cd53b79ed5c329542a0489.html" id="lightwidget_94a7f5bc05" name="lightwidget_94a7f5bc05"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
