


<div class="big-yoga">
  <div class="container yoga-title text-center">
    <h1>YogaFoodLove - Studio Partnership</h1>
  </div>
</div>


<div class="container main-form">
  <h3 class="text-center">please enter the details below to reserve the yoga pass</h3>
<form name="userForm" class="mid-form">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <input type="text" name="name" ng-model="formData.name" class="form-control" placeholder="Name*" required>
            <div class="error-msg" ng-if="userForm.name.$invalid && userForm.name.$touched">Please Enter Your Full Name</div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <!-- <label for="email">Email address:</label> -->
            <input type="text" name="contact" ng-model="formData.name" class="form-control" placeholder="Contact*" required>
            <div class="error-msg" ng-if="userForm.contact.$invalid && userForm.contact.$touched">Please Enter Your Contact</div>
          </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <!-- <label for="email">Email address:</label> -->
              <input type="text" name="phoneNumber" ng-model="formData.name" class="form-control" placeholder="Phone*" required>
              <div class="error-msg" ng-if="userForm.phoneNumber.$invalid && userForm.phoneNumber.$touched">Please Enter Your Phone Number</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <!-- <label for="email">Email address:</label> -->
              <input type="email" name="emailId" ng-model="formData.name" class="form-control" placeholder="Email*" required>
              <div class="error-msg" ng-if="userForm.emailId.$invalid && userForm.emailId.$touched">Please Enter Your Email Id</div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <!-- <label for="email">Email address:</label> -->
              <input type="text" name="address" ng-model="formData.name" class="form-control" placeholder="Address" required>
              <div class="error-msg" ng-if="userForm.address.$invalid && userForm.address.$touched">Please Enter Your Address</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <!-- <label for="email">Email address:</label> -->
              <input type="text" name="city" ng-model="formData.name" class="form-control" placeholder="City*" required>
              <div class="error-msg" ng-if="userForm.city.$invalid && userForm.city.$touched">Please Enter Your City</div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="organisation" ng-model="formData.name" class="form-control" placeholder="Name of your organisation*" required>
              <div class="error-msg" ng-if="userForm.organisation.$invalid && userForm.organisation.$touched">Please Enter Your Organisation</div>
            </div>
        </div>
      </div>

       <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <h4>Please select the amenities offered at your studio*</h4>

          <div class="magic-form">
            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="layout" id="1" value="option1">
                <label class="text" for="1">
                  Lockers
                </label>

            </div>

            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="layout" id="2" value="option1">
                <label class="text" for="2">
                  Showers
                </label>

            </div>

            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="layout" id="3" value="option1">
                <label class="text" for="3">
                  Changing Room
                </label>

            </div>

            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="layout" id="4" value="option1">
                <label class="text" for="4">
                  Yoga Mats
                </label>

            </div>

            <div class="magic-resize">
              <input class="magic-checkbox" type="checkbox" name="layout" id="5" value="option1">
                <label class="labewidtxt" for="5">
                  Other : <input type="#" class="form-control textbox-other" placeholder="">
                </label>

            </div>
          </div>

        </div>
      </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <h4>Style of Yoga offered at your studio*</h4>

            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="6" value="option1">
                  <label class="text" for="6">
                    Power Yoga
                  </label>

              </div>

              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="7" value="option1">
                  <label class="text" for="7">
                    Iyengar Yoga
                  </label>

              </div>

              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="8" value="option1">
                  <label class="text" for="8">
                    Ashtanga Yoga
                  </label>

              </div>

              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="9" value="option1">
                  <label class="text" for="9">
                    Bikram Yoga
                  </label>

              </div>

              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="10" value="option1">
                  <label class="text" for="10">
                    Vinyasa Yoga
                  </label>

              </div>

              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="11" value="option1">
                  <label class="text"for="11">
                    Hatha Yoga
                  </label>

              </div>

              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="12" value="option1">
                  <label class="text" for="12">
                    Sivananda Yoga
                  </label>

              </div>

              <div class="magic-resize">
                <input class="magic-checkbox" type="checkbox" name="layout" id="13" value="option1">
                  <label class="labewidtxt" for="13">
                    Other : <input type="#" class="form-control textbox-other" placeholder="">
                  </label>

              </div>
            </div>

          </div>
        </div>
      </div>


        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="description" ng-model="formData.name" class="form-control" placeholder="Give a brief description about the type of yoga taught at your institute." required>
              <div class="error-msg" ng-if="userForm.description.$invalid && userForm.description.$touched">Please Enter Your Description</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="studio" ng-model="formData.name" class="form-control" placeholder="Please list the teachers/instructors at your studio" required>
              <div class="error-msg" ng-if="userForm.studio.$invalid && userForm.studio.$touched">Please Enter Your Studio</div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <h4>Kindly provide the class level*</h4>

            <div class="magic-form">
              <div class="magic-resize">
                <input class="magic-radio" type="radio" name="radio" id="14" value="option1">
                <label class="text" for="14">
                  Beginner
                </label>
              </div>

              <div class="magic-resize">
                <input class="magic-radio" type="radio" name="radio" id="15" value="option1">
                <label class="text" for="15">
                  Advanced
                </label>
              </div>

              <div class="magic-resize">
                <input class="magic-radio" type="radio" name="radio" id="16" value="option1">
                <label class="text" for="16">
                  Open Level
                </label>
              </div>

              <div class="magic-resize">
                <input class="magic-radio" type="radio" name="radio" id="17" value="option1">
                  <label class="labewidtxt" for="17">
                    Other : <input type="#" class="form-control textbox-other" placeholder="">
                  </label>

              </div>


            </div>

          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <h4>Do you have an official website?*</h4>

            <div class="magic-form">
                <div class="magic-resize">
                  <input class="magic-radio" type="radio" name="radio" id="18" value="option1">
                  <label class="text" for="18">
                    Yes
                  </label>
                </div>

                <div class="magic-resize">
                  <input class="magic-radio" type="radio" name="radio" id="19" value="option1">
                  <label class="text" for="19">
                    No
                  </label>
                </div>

              </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="websiteAddress" ng-model="formData.name" class="form-control" placeholder="Please provide your website address." required>
              <div class="error-msg" ng-if="userForm.websiteAddress.$invalid && userForm.websiteAddress.$touched">Please provide your website address</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="facebookpagelink" ng-model="formData.name" class="form-control" placeholder="Please provide a link to your Facebook Page." required>
              <div class="error-msg" ng-if="userForm.facebookpagelink.$invalid && userForm.facebookpagelink.$touched">Please provide a link to your Facebook Page</div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="instagrampagelink" ng-model="formData.name" class="form-control" placeholder="Please provide a link to your Instagram account." required>
              <div class="error-msg" ng-if="userForm.instagrampagelink.$invalid && userForm.instagrampagelink.$touched">Please provide a link to your Instagram account</div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="anyothersocialmedia" ng-model="formData.name" class="form-control" placeholder="Are you active on any other social media platforms? (Pinterest, Youtube, Twitter, Google +, etc)*" required>
              <div class="error-msg" ng-if="userForm.anyothersocialmedia.$invalid && userForm.anyothersocialmedia.$touched">Are you active on any other social media platforms? (Pinterest, Youtube, Twitter, Google +, etc)</div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <input type="text" name="listaddressurbranches" ng-model="formData.name" class="form-control" placeholder="List the address for your branches" required>
            <div class="error-msg" ng-if="userForm.listaddressurbranches.$invalid && userForm.listaddressurbranches.$touched">List the address for your branches</div>
          </div>
        </div>
      </div>

          <div class="form-group">
            <h4>Do you have other branches?*</h4>

            <div class="magic-form">
                <div class="magic-resize">
                  <input class="magic-radio" type="radio" name="radio" id="20" value="option1">
                  <label class="text" for="20">
                    Yes
                  </label>
                </div>

                <div class="magic-resize">
                  <input class="magic-radio" type="radio" name="radio" id="21" value="option1">
                  <label class="text" for="21">
                    No
                  </label>
                </div>

              </div>

          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" data-error="Before you wreck yourself" required>
              I have read and  accept <u>Terms & Conditions</u>
            </label>
          </div>





          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg sub-btn">Submit</button>
          </div>

        </div>




    </form>
