

<div class="container">

<div class="row">
  <div class="col-md-offset-2 col-md-8">
  <div class="form-box">

  <div class="label-text">Name of your organisation</div>
  <div class="freebirdFormviewerViewItemsTextItemWrapper">
    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
        <div class="quantumWizTextinputPaperinputContentArea">
          <div class="quantumWizTextinputPaperinputInputArea">
            <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
            <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
            </div>
          </div>
          <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
          <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
        </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
    </div>
  </div>

  <div class="label-text">Give a brief description about your organisation.</div>
  <div class="freebirdFormviewerViewItemsTextItemWrapper">
    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
        <div class="quantumWizTextinputPaperinputContentArea">
          <div class="quantumWizTextinputPaperinputInputArea">
            <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
            <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
            </div>
          </div>
          <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
          <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
        </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
    </div>
  </div>

  <div class="label-text">Contact Person</div>
  <div class="freebirdFormviewerViewItemsTextItemWrapper">
    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
        <div class="quantumWizTextinputPaperinputContentArea">
          <div class="quantumWizTextinputPaperinputInputArea">
            <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
            <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
            </div>
          </div>
          <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
          <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
        </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
    </div>
  </div>

  <div class="label-text">Phone</div>
  <div class="freebirdFormviewerViewItemsTextItemWrapper">
    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
        <div class="quantumWizTextinputPaperinputContentArea">
          <div class="quantumWizTextinputPaperinputInputArea">
            <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
            <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
            </div>
          </div>
          <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
          <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
        </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
    </div>
  </div>

  <div class="label-text">Email</div>
  <div class="freebirdFormviewerViewItemsTextItemWrapper">
    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
        <div class="quantumWizTextinputPaperinputContentArea">
          <div class="quantumWizTextinputPaperinputInputArea">
            <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
            <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
            </div>
          </div>
          <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
          <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
        </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
    </div>
  </div>

  <div class="label-text">Address</div>
  <div class="freebirdFormviewerViewItemsTextItemWrapper">
    <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
      <div class="quantumWizTextinputPaperinputMainContent exportContent">
        <div class="quantumWizTextinputPaperinputContentArea">
          <div class="quantumWizTextinputPaperinputInputArea">
            <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
            <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
            </div>
          </div>
          <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
          <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
        </div>
      </div>
      <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
    </div>
  </div>

  <div class="label-text">City</div>
  <div class="radio">
    <label><input type="radio" name="optradio">Mumbai</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio">New York</label>
  </div>
  <div class="radio disabled">
    <label><input type="radio" name="optradio" disabled>Barcelona</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio">Paris</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio">Bordeaux</label>
  </div>
  <div class="radio disabled">
    <label><input type="radio" name="optradio" disabled>Other:</label>
  </div>

      <!-- <div class="radios">
        <ul>
         <li>
           <input type="radio" id="f-option" name="selector">
           <label for="f-option">Pizza</label>

           <div class="check"></div>
         </li>

         <li>
           <input type="radio" id="s-option" name="selector">
           <label for="s-option">Boyfriend</label>

           <div class="check"><div class="inside"></div></div>
         </li>

         <li>
           <input type="radio" id="t-option" name="selector">
           <label for="t-option">Cats</label>

           <div class="check"><div class="inside"></div></div>
         </li>
        </ul>
      </div> -->



      <div class="label-text">Please select the amenities offered at your studio</div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Lockers</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Showers</label>
      </div>
      <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Changing Room</label>
      </div>
      <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Yoga Mats</label>
      </div>
      <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Other:</label>
      </div>


      <div class="label-text">Style of Yoga offered at your studio</div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Power Yoga</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Iyengar Yoga</label>
      </div>
      <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Ashtanga Yoga</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Bikram Yoga</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Vinyasa Yoga</label>
      </div>
      <div class="checkbox disabled">
        <label><input type="checkbox" value="" disabled>Hatha Yoga</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Sivananda Yoga</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" value="">Other:</label>
      </div>









      <div class="label-text">Give a brief description about the type of yoga taught at your institute.</div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
          <div class="quantumWizTextinputPaperinputMainContent exportContent">
            <div class="quantumWizTextinputPaperinputContentArea">
              <div class="quantumWizTextinputPaperinputInputArea">
                <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
                <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
                </div>
              </div>
              <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
              <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
            </div>
          </div>
          <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
        </div>
      </div>

      <div class="label-text">Please list the teachers/instructors at your studio</div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
          <div class="quantumWizTextinputPaperinputMainContent exportContent">
            <div class="quantumWizTextinputPaperinputContentArea">
              <div class="quantumWizTextinputPaperinputInputArea">
                <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
                <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
                </div>
              </div>
              <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
              <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
            </div>
          </div>
          <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
        </div>
      </div>




      <div class="label-text">Kindly provide the class level.</div>
      <div class="radio">
        <label><input type="radio" name="optradio">Beginner</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">Advanced</label>
      </div>
      <div class="radio disabled">
        <label><input type="radio" name="optradio" disabled>Open Level</label>
      </div>
      <div class="radio disabled">
        <label><input type="radio" name="optradio" disabled>Other :</label>
      </div>

      <div class="label-text">Do you have an official website?</div>
      <div class="radio">
        <label><input type="radio" name="optradio">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">No</label>
      </div>



      <div class="label-text">Please provide your website address.</div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
          <div class="quantumWizTextinputPaperinputMainContent exportContent">
            <div class="quantumWizTextinputPaperinputContentArea">
              <div class="quantumWizTextinputPaperinputInputArea">
                <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
                <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
                </div>
              </div>
              <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
              <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
            </div>
          </div>
          <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
        </div>
      </div>

      <div class="label-text">Please provide a link to your Facebook Page.</div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
          <div class="quantumWizTextinputPaperinputMainContent exportContent">
            <div class="quantumWizTextinputPaperinputContentArea">
              <div class="quantumWizTextinputPaperinputInputArea">
                <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
                <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
                </div>
              </div>
              <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
              <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
            </div>
          </div>
          <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
        </div>
      </div>

      <div class="label-text">Please provide a link to your Instagram account.</div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
          <div class="quantumWizTextinputPaperinputMainContent exportContent">
            <div class="quantumWizTextinputPaperinputContentArea">
              <div class="quantumWizTextinputPaperinputInputArea">
                <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
                <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
                </div>
              </div>
              <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
              <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
            </div>
          </div>
          <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
        </div>
      </div>

      <div class="label-text">Are you active on any other social media platforms? (Pinterest, Youtube, Twitter, Google +, etc)</div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
          <div class="quantumWizTextinputPaperinputMainContent exportContent">
            <div class="quantumWizTextinputPaperinputContentArea">
              <div class="quantumWizTextinputPaperinputInputArea">
                <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
                <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
                </div>
              </div>
              <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
              <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
            </div>
          </div>
          <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
        </div>
      </div>



      <div class="label-text">Do you have other branches?</div>
      <div class="radio">
        <label><input type="radio" name="optradio">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">No</label>
      </div>



      <div class="label-text">List the address for your branches</div>
      <div class="freebirdFormviewerViewItemsTextItemWrapper">
        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow="" jsname="W85ice">
          <div class="quantumWizTextinputPaperinputMainContent exportContent">
            <div class="quantumWizTextinputPaperinputContentArea">
              <div class="quantumWizTextinputPaperinputInputArea">
                <input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Name of your organisation" aria-describedby="i.desc.2032312277 i.err.2032312277" name="YogaFoodLove - Studio Partnership " value="" required="" dir="auto" data-initial-dir="auto" data-initial-value="">
                <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer
                </div>
              </div>
              <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
              <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline animationInitialized" style="transform-origin: 65px center 0px;"></div>
            </div>
          </div>
          <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
        </div>
      </div>


      <!-- <section title=".squaredThree">

      <div class="squaredThree">
        <input type="checkbox" value="None" id="squaredThree" name="check" checked />
        <label for="squaredThree"></label>
      </div>

    </section> -->
  </div>
  </div>
</div>
</div>
