<section>
  <div>
    <img src="img/new/art2.jpg" alt="" class="img-responsive width">

  </div>
</section>
<div class="bg">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="detail-article">
            <div class="article-title">
              <h2 class="font-rubik color-green font500">Andhra tomato pickle recipe, instant & easy</h2>
            </div>
            <div class="article-date font-rubik">
              <p><span class="color-green">Alex John</span> | December 18, 2015</p>
            </div>
            <div class="article-data color-third font-rubik mt30">
              <p>Tomato pickle recipe, a simple, instant, tasty and best tomato pachadi Andhra style preparation In many Telugu
                speaking homes you will find that most culinary conversations center around pickle making, chutney recipes
                and more. I have numerous hand written recipes that I have gotten off such conversations. I am sharing one
                such gem that is an addictively tasty, fresh tomato pickle. An easy tomato pickle prepared in Andhra style
                that is “not a long lasting” pickle. Yes, it has a very short shelf life i.e two days at room temperature
                but can be refrigerated for a week. Whenever I make this pachadi, it does not last us more than 4 or 5 days.
                And I regularly make it when I have guests come over for a meal. It is so so good.</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
  <section>
    <div class="bg-comment mt30">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="recipe font-rubik ">
              <h4 class="font500 colo-green">Andhra Tomato Pickle Recipe</h4>
              <p><span>Prep time:</span> 15 min</p>
              <p><span>Cook time: </span> 90 min</p>
              <p><span>Serves: </span> 25</p>
            </div>
            <div class="recipe font-rubik mt30">
              <h4 class="font500 colo-green">Ingredients</h4>
              <p><span>Tomatoes</span> - 2 kgs, wash, cut into half and slice eachhalf into 10-12 thin slices</p>
              <p><span>Salt</span>- 2 1/2 to 3 tbsps</p>
              <p><span>Sugar  </span>- 1 tsp (optional)</p>
            </div>
            <div class="recipe font-rubik mt30">
              <h4 class="font500 colo-green">For tempering:</h4>
              <p><span>Oil</span> - 200 ml</p>
              <p><span>Mustards seeds</span>- 1 tsp</p>
              <p><span>Cumin seeds  </span> - 1 tsp (optional)</p>
              <p><span>Urad dal   </span> - 1 tbsp</p>
              <p><span>Cumin seeds  </span> - 1 tsp (optional)</p>
              <p><span>Dry red chilis  </span> - 1 tsp (optional)</p>
              <p><span>Curry leaves   </span> - 1 tsp (optional)</p>
              <p><span>Asafoetida   </span> - 1 tsp (optional)</p>
              <p><span>Red chili powder    </span> - 1 tsp (optional)</p>
            </div>
            <div class="recipe font-rubik mt30">
              <h4 class="font500 colo-green">Method</h4>
              <p>Wash the tomatoes and slice them into slightly thinlong pieces. Set aside. Heat 50 ml oil in a large vessel,add
                the tomatoes and cook on high flame for 2 mts.Reduce flame and cook for at least an hour or so. Mix the
                tomatoes once in a while. Continue to cook till the water is almost evaporated. Towards the end of the cooking
                process, keeping mashing the tomatoes lighly with a ladle. It should be like a thick yet slightly loose consistency
                chunky sauce. Turn off flame.</p>
              <p>Heat 150 ml oil in a separate pan. Once hot, add mustard seeds and allow to splutter. Add urad dal and dry
                red chilis and allow the dal to turn red. Add curry leaves, asafoetida and mix for a few secs. Turn off flame
                and allow to cool for a mt before adding the red chili powder. Mix and add this tempering immediately to
                the cooked tomato mixture.</p>
              <p>Now turn on flame, add 2 1/2 tbsps salt and cook the tomato mixture till the oil floats on top. Check the salt
                and if required add more. Turn off flame. Cool completely and remove to a serving vessel. Serve with any
                tiffin like idli and pongal OR with rice OR as a dip or salsa with chips.</p>
            </div>
            <div class="recipe font-rubik mt30">
              <h4 class="font500 colo-green">Tips</h4>
              <p>Use heirloom tomatoes or a mixture of heirloom and hybrid variety of tomatoes. Use 750 gms hybrid variety and
                1250 gms heirloom variety.</p>
              <p>> Do not skimp on the oil.</p>
              <p>> If using cumin seeds, add them after the mustard seeds splutter along with urad dal.</p>
              <p>> You can increase the amount of red chili powder based on your taste preference.</p>
              <p>> Be careful when you add red chili powder to the tempering. Please tie a cloth around your nose andmouth
                when adding red chili powder to the tempering.It can give out an aroma that is slightlyharsh on the senses.
                See that the oil is hot but not very hot when adding chili powder.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="bg-like mt30">
      <div class="pos-top text-center">
        <h2 class="font-rubik color-white font-light">Like this article?</h2>
        <h3 class="font-rubik color-white font-light"><a style="text-decoration:underline;" class="color-white share">Share</a> this article with your friends</h3>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row mt30">
        <div class="col-md-12">
          <div class="other-article font-rubik">
            <h1 class="color-third font-light">Recipes by Sailu</h1>
          </div>
          <div class="art-list mt30 font-rubik">
            <a href="" class="color-green">Lorem ipsum dolor sit amet vbnjbngflbn consectetur </a>
            <p class="color-third">Adipiscing elit. sed do eiusmod tempor....</p>
          </div>
          <div class="art-list mt30 font-rubik">
            <a href="" class="color-green">Lorem ipsum dolor sit amet vbnjbngflbn consectetur </a>
            <p class="color-third">Adipiscing elit. sed do eiusmod tempor....</p>
          </div>
          <div class="art-list mt30 font-rubik">
            <a href="" class="color-green">Lorem ipsum dolor sit amet vbnjbngflbn consectetur </a>
            <p class="color-third">Adipiscing elit. sed do eiusmod tempor....</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="bg-comment mt30">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="other-article font-rubik">
              <h1 class="color-third font-light">Join the Discussion... </h1>
            </div>
            <div class="msg">
              <textarea rows="8" cols="100" placeholder="Describe yourself here...">

</textarea>
              <div class="read-more mt20 pull-right submits">
                <button class="text-up btn-green font-rubik btn btn-primary btn-texture">submit</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="box-comment mt30">


            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="user-img">
                <img src="img/article/user.png" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="user-name font-rubik">
                <h4 class="color-green font-light">Mapuama</h4>
                <span>6 Hours ago</span>
              </div>
              <div class="article-data color-third font-rubik mt20">
                <p>Eating and diets have become a fashion trend in the last few years. One year we're paleo, one year we're
                  raw etc. We follow what the new studies tell us, what "experts" tell us, we follow the trends blindly.
                  We often forget that we're all individuals with different bodies and different needs. What is good for
                  someone else doesn't mean it is good for us as well. We have to ask our body what it needs in the current
                  situation. </p>
              </div>
              <div class="count font-rubik display-inline mt30">
                <a href=""><span>0 <i class="fa fa-angle-up"></i></span></a>
              </div>
              <div class="count display-inline font-rubik ml15">
                <a href=""><span> <i class="fa fa-angle-down"></i> Reply</span></a>
              </div>
            </div>
          </div>
          <div class="box-comment mt30">


            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="user-img">
                <img src="img/article/user.png" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <div class="user-name font-rubik">
                <h4 class="color-green font-light">Mapuama</h4>
                <span>6 Hours ago</span>
              </div>
              <div class="article-data color-third font-rubik mt20">
                <p>Eating and diets have become a fashion trend in the last few years. One year we're paleo, one year we're
                  raw etc. We follow what the new studies tell us, what "experts" tell us, we follow the trends blindly.
                  We often forget that we're all individuals with different bodies and different needs. What is good for
                  someone else doesn't mean it is good for us as well. We have to ask our body what it needs in the current
                  situation. </p>
              </div>
              <div class="count font-rubik display-inline mt30">
                <a href=""><span>0 <i class="fa fa-angle-up"></i></span></a>
              </div>
              <div class="count display-inline font-rubik ml15">
                <a href=""><span> <i class="fa fa-angle-down"></i> Reply</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row mt40">
        <div class="col-md-12">
          <div class="other-article font-rubik">
            <h1 class="color-third font-light">Related Recipes</h1>
          </div>
        </div>
      </div>
      <div class="row mt40">
        <div class="col-md-6 font-rubik mb30" ng-repeat="data in rowdata track by $index">
          <div class="border-box">
            <div class="col-md-5">
              <div class="art-img position-relative">
                <img ng-src="{{data.img}}" alt="" class="img-responsive">
                <div class="top-right-icon">
                  <img src="img/article/fav.png" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="art-title">
                <h4 class="color-green">{{data.title}}</h4>
                <p>by <span class="color-green font500">Abha Singh</span></p>
              </div>
              <div class="art-data mt10">
                <p class="font-light color-third">{{data.data}} </p>
              </div>
              <div class="art-date mt20">
                <span class="color-third">August 12, 2015</span>
              </div>
              <div class="read-more mt20">
                <button class="text-up btn-green btn btn-primary btn-texture">read more</button>
              </div>
              <!--<div class="reads-more mt20">
                <button class="text-up btn-green ">read more</button>
              </div>-->
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>