<section>
    <div class="home-slider arrow-none nav-none">
        <flex-slider class="carousel " flex-slide="love in loveSlider track by $index">
            <li>
                <div class="img position-relative">
                    <img ng-src="{{love.img}}" alt="" class="img-responsive">

                </div>
            </li>
        </flex-slider>
    </div>
</section>
<div class="bg">
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="text-center">
                    <div class="rest-name">
                        <h2 class="font-rubik color-second font500">AMICA CAFE</h2>
                    </div>
                    <div class="rat-img mt25">
                        <img src="img/rating.png" alt="">
                    </div>
                    <div class="select-city mt20">
                        <select class="form-control font-rubik text-up f18 select-cl color-bl">
                            <option>Colaba, Mumbai</option>
                            <option>Colaba, Mumbai</option>
                            <option>Colaba, Mumbai</option>

                        </select>
                    </div>
                    <div class="get-in-touch mt25 ">
                        <span class="font-rubik color-second f18 font-light ">GET IN TOUCH WITH US</span>
                    </div>
                    <div class="social-link custom-li mt15">
                        <ul class="padding0">
                            <li>
                                <a href="">
                                    <img src="img/l1.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="img/l2.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="img/l3.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="img/l4.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="desc-restaurant mt25">
                        <p class="font-rubik color-third font-light">aperiam, eaque ipsa quae ab illo inventore veritatis et.aperiam, eaque ipsa quae ab illoinventore veritatis et.aperiam, eaque ipsa quae ab illo inventore veritatis et.aperiam, eaqueipsa quae ab illo inventore veritatis et.aperiam,
                            eaque ipsa quae ab illo inventore veritatis et.aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                    </div>

                </div>
                  <p class="capitalize more pull-right hidden-md hidden-lg">read more<i class="fa fa-chevron-down" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>
</section>
<section class="bg-bks">
    <div class="menu-bg mt25">
        <div class="text-center">
            <h4 class="font-rubik font-light color-white">OUR MENU</h4>
        </div>
    </div>
    <div class="menu-list mt10 font-rubik">
        <uib-accordion close-others="true">
            <uib-accordion-group is-open="accordian[0].isFirstOpen">
                <uib-accordion-heading>
                    <span class="font-light color-white font-rubik">FRESH SALADS</span><i class="pull-right fa" ng-class="{'fa fa-minus': accordian[0].isFirstOpen, 'fa fa-plus': !accordian[0].isFirstOpen}"></i>
                </uib-accordion-heading>
                <div class="main-data">
                    <h4 class="text-up font500 color-green">MAKE YOUR OWN SALAD</h4>
                    <div class="table-data">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-xs-6">

                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-3">
                                <div class="title">
                                    <span class="font-light color-second">Regular</span>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-3">
                                <div class="title">
                                    <span class="font-light color-second">Large</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt15">
                            <div class="col-md-10 col-sm-10 col-xs-6">
                                <div class="menu-name">
                                    <span class="text-up color-green f18 font-light">veg</span>
                                </div>

                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-3">
                                <div class="title">
                                    <span class="text-up color-green f18 font-light">₹ 155</span>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-3">
                                <div class="title">
                                    <span class="text-up color-green f18 font-light">₹ 155</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt15">
                            <div class="col-md-10 col-sm-10 col-xs-6">
                                <div class="menu-name">
                                    <span class="text-up color-green f18 font-light">non-veg</span>
                                </div>

                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-3">
                                <div class="title">
                                    <span class="text-up color-green f18 font-light">₹ 155</span>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-3">
                                <div class="title">
                                    <span class="text-up color-green f18 font-light">₹ 155</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="other-data mt25">
                        <span class="text-up color-green f18 font-light">CHOICE OF VEGGIES</span>
                        <div class="margin-r">
                          <p class="color-second font-light">Corn | Capsicum | Tomato |Cucumber |
Roasted Nuts | Lettuce | Carrot | Brocolli</p>
                        </div>
                    </div>
                    <div class="other-data mt25">
                        <span class="text-up color-green f18 font-light">CHOICE OF CHICKEN</span>
                        <div class="margin-r">
                          <p class="color-second font-light">Corn | Capsicum | Tomato |Cucumber |
Roasted Nuts | Lettuce | Carrot | Brocolli</p>
                        </div>
                    </div>
                    <div class="other-data mt25">
                        <span class="text-up color-green f18 font-light">CHOICE OF DRESSINGS</span>
                        <div class="margin-r">
                          <p class="color-second font-light">Corn | Capsicum | Tomato |Cucumber |
Roasted Nuts | Lettuce | Carrot | Brocolli</p>
                        </div>
                    </div>
                    <div class="mt40">
                        <h4 class="text-up font500 color-green">VEG SALADS</h4>
                        <div class="table-data">
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-6">

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="font-light color-second">Regular</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="font-light color-second">Large</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-10 col-sm-10 col-xs-6">
                                    <div class="menu-name">
                                        <span class="text-up color-green f18 font-light">RUSSIAN SALAD <div class="display-inline f13 hypen">HI - FIBER</div></span>
                                    </div>

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 130</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 180</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-10 col-sm-10 col-xs-6">
                                    <div class="menu-name">
                                        <span class="text-up color-green f18 font-light">SLIMMER’S OLIVE SALAD <div class="display-inline color-second f13 font-rubik"><p>(Beans, Peas, Tomato, Olives,
Capsicum & Spring Onion)</p></div></span>
                                    </div>

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-10 col-sm-10 col-xs-6">
                                    <div class="menu-name">
                                        <span class="text-up color-green f18 font-light">SPROUT SALAD</span>
                                    </div>

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-10 col-sm-10 col-xs-6">
                                    <div class="menu-name">
                                        <span class="text-up color-green f18 font-light">HOLISTIC HEALTH SALAD <div class="display-inline f13 hypen">HI - PROTEIN</div></span>
                                    </div>

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mt40">
                        <h4 class="text-up font500 color-green">NON-VEG SALADS</h4>
                        <div class="table-data">
                            <div class="row">
                                <div class="col-md-10 col-sm-10 col-xs-6">

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="font-light color-second">Regular</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="font-light color-second">Large</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-10 col-sm-10 col-xs-6">
                                    <div class="menu-name">
                                        <span class="text-up color-green f18 font-light">RUSSIAN SALAD <div class="display-inline f13 hypen">HI - FIBER</div></span>
                                    </div>

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 130</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 180</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-10 col-sm-10 col-xs-6">
                                    <div class="menu-name">
                                        <span class="text-up color-green f18 font-light">SLIMMER’S OLIVE SALAD <div class="display-inline color-second f13 font-rubik"><p>(Beans, Peas, Tomato, Olives,
Capsicum & Spring Onion)</p></div></span>
                                    </div>

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-10 col-sm-10 col-xs-6">
                                    <div class="menu-name">
                                        <span class="text-up color-green f18 font-light">SPROUT SALAD</span>
                                    </div>

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                <div class="col-md-10 col-sm-10 col-xs-6">
                                    <div class="menu-name">
                                        <span class="text-up color-green f18 font-light">HOLISTIC HEALTH SALAD <div class="display-inline f13 hypen">HI - PROTEIN</div></span>
                                    </div>

                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-1 col-xs-3">
                                    <div class="title">
                                        <span class="text-up color-green f18 font-light">₹ 155</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </uib-accordion-group>
            <uib-accordion-group is-open="accordian[1].isFirstOpen">
                <uib-accordion-heading>
                    <span class="font-light color-white font-rubik">SANDWICHES</span> <i class="pull-right fa" ng-class="{'fa fa-minus': accordian[1].isFirstOpen, 'fa fa-plus': !accordian[1].isFirstOpen}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
            </uib-accordion-group>
            <uib-accordion-group is-open="accordian[2].isFirstOpen">
                <uib-accordion-heading>
                    <span class="font-light color-white font-rubik">GARLIC BREAD</span> <i class="pull-right fa" ng-class="{'fa fa-minus': accordian[2].isFirstOpen, 'fa fa-plus': !accordian[2].isFirstOpen}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
            </uib-accordion-group>
            <uib-accordion-group is-open="accordian[3].isFirstOpen">
                <uib-accordion-heading>
                    <span class="font-light color-white font-rubik">PASTAS</span> <i class="pull-right fa" ng-class="{'fa fa-minus': accordian[3].isFirstOpen, 'fa fa-plus': !accordian[3].isFirstOpen}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
            </uib-accordion-group>
            <uib-accordion-group is-open="accordian[4].isFirstOpen">
                <uib-accordion-heading>
                    <span class="font-light color-white font-rubik">WRAPS</span><i class="pull-right fa" ng-class="{'fa fa-minus': accordian[4].isFirstOpen, 'fa fa-plus': !accordian[4].isFirstOpen}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
            </uib-accordion-group>
            <uib-accordion-group is-open="accordian[5].isFirstOpen">
                <uib-accordion-heading>
                    <span class="font-light color-white font-rubik">DESSERTS</span> <i class="pull-right fa" ng-class="{'fa fa-minus': accordian[5].isFirstOpen, 'fa fa-plus': !accordian[5].isFirstOpen}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
            </uib-accordion-group>
            <uib-accordion-group is-open="accordian[6].isFirstOpen">
                <uib-accordion-heading>
                    <span class="font-light color-white font-rubik">DRINKS</span><i class="pull-right fa" ng-class="{'fa fa-minus': accordian[6].isFirstOpen, 'fa fa-plus': !accordian[6].isFirstOpen}"></i>
                </uib-accordion-heading>
                This is just some content to illustrate fancy headings.
            </uib-accordion-group>

        </uib-accordion>

    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="font-rubik color-second f29 font500">WE ARE ALSO
LOCATED AT</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 mt35" ng-repeat="item in rowdata track by $index">
                <div class="body-img position-relative">
                    <div class="img-main position-relative">
                        <img ng-src="{{item.img}}" alt="" class="img-responsive">
                        <div class="sponser">
                            <div class="top-left">
                                <span>Sponsored</span>
                            </div>
                            <div class="top-right pull-right">
                                <img src="img/like.png" alt="" class="img-responsive">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="title text-center">
                        <h5 class="text-up color-bl f18 font-light">{{item.title}}</h5>
                        <span class="color-second">{{item.data}}</span>
                    </div>
                    <div class="rating text-center mt20">
                        <img src="img/star.png" alt="">
                    </div>
                    <div class="text-center mt10">
                        <button class="know-m text-up btn-green font-light f18 hidden-xs">know more</button>
                        <button class="know-m text-up btn-green font-light f18 hidden-md hidden-sm hidden-lg">view more</button>
                    </div>
                    <div class="second-layer">
                        <div class="up-title">
                            <h4>Amica Cafe</h4>
                        </div>
                        <div class="data-det mt15">
                            <p>
                                The yoga studio is an ambient space that was created by Seema Sondhi in 2001, where she could spread the light of yoga. The thought is to help individuals on a healthier and more peaceful path by teaching them a system of exercise that fully integrates
                                the body, mind and soul.
                            </p>
                        </div>
                        <div class="position-relative" style="width: 100%; height: 100%;">
                            <div class="text-center mt10 btn-down">
                                <button class="know-m text-up btn-yellow font-light f18">view more</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="text-center p40">
                <h4 class="font-neutra font-light" style="color:#a7a9ac;">Loading..</h4>
            </div>
        </div>
    </div>
</section>
</div>
