<footer>
  <div class="footer-top-border"></div>
  <div class="container">
  <div class="row stay-connected">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <p>Stay Connected</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/yogafoodlove/" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="social-icons">
        <a href="https://twitter.com/YogaFoodLove" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="social-icons">
        <a href="https://www.instagram.com/yogafoodlove/" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div class="social-icons">
        <a href="https://in.pinterest.com/yogafoodlove/" target="_blank">
            <i class="fa fa-pinterest-p"></i>
        </a>
      </div>
      <div class="social-icons">
        <a href="mailto:jsw@yogafoodlove.com?Subject=YFL:%20attitude%20of%20gratitude" target="_blank">
            <i class="fa fa-paper-plane"></i>
        </a>
      </div>
      <div class="social-icons">
        <a href="https://www.youtube.com/channel/UCw08oQPDOjJ3DY5VO7eK9Lg?view_as=public" target="_blank">
            <i class="fa fa-youtube-play "></i>
        </a>
      </div>
      <div class="social-icons">
        <a href="https://itunes.apple.com/us/playlist/yfl-inhale-exhale-shine/idpl.3d5d2a230fdf4829afdf1a57ff0354fd" target="_blank">
            <i class="fa fa-music"></i>
        </a>
      </div>
      <div class="social-icons">
        <a href="#" target="_blank">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </a>
      </div>
      <div class="join-us">
                <p class="text">If you feel like your energy aligns with ours, come join us. Drop us an
                    <a href="mailto:jsw@yogafoodlove.com?Subject=YFL:%20attitude%20of%20gratitude" target="_top">email.</a>
                </p>
            </div>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="footer-bottom-border"></div>
</footer>
<div class="container copyright-back">
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="copyright">© 2016 Yoga Food Love. All Rights Reserved. |
        <a ui-sref="privacy-policy">Privacy Policy</a></p>
      <p class="copyright createdby">Designed and Developed by
        <a href="http://www.yfldigital.com" target="_blank">YFL digital</a></p>
    </div>
  </div>
</div>
