<header>
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class"col-md-12"="">
        <div class="navbar-header">
                  <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button> -->
                  <a class="navbar-brand" ui-sref="home" href="#/"><img src="img/logo.png" alt="logo" width="20" class="doneLoading"> </a>
        <div class="become-member">
        <button type="button" class="btn btn-text btn-dark">partner with us</button>
      </div>
      </div>
</div>
</div>
    </div>
</nav>
</header>
