<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class"col-md-12"="">
                    <div class="navbar-header">
                        <a class="navbar-brand" ui-sref="home" href="#/"><img src="img/logo.png" alt="logo" width="20" class="doneLoading">
                        </a>
                        <div class="become-member">
                            <a ui-sref="partner-with-us" class="btn btn-text btn-dark strong">Partner with us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
