<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a ui-sref="home" class="logo-header">
                    <img src="img/yfl-yellow.png" alt="Yoga Food Love">
                </a>
                    <span ui-sref="home" class="title">yoga food love</span>
                <div class="hamburger pull-right">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </div>
                <div class="become-member pull-right">
                    <a ui-sref="collaborate-with-us" class="btn btn-primary btn-texture uppercase strong">Collaborate with us</a>
                </div>


            </div>
        </div>
    </nav>
</header>
