<div class="signs">

    <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="logo">
    <img src="img/yfls.png" class="img-responsive" alt="logo">
  </div>
  <div class="signin-text text-center">
    <h3>welcome back !</h3>
    <h4 class="capitalize">please sign in to continue</h4>
  </div>
  <form action="" class="forms">
    <div class="form-group space">
     <input type="email" name="Email" placeholder="Email"class="form-control">
    </div>
    <div class="form-group">
     <input type="password" name="Password" placeholder="Password"class="form-control">
    </div>
    <div class="sign-in">
        <button  class="btn  btn-danger btn-lg sub-btn margin0 text-uppercase "><span>sign in</span></button>
    </div>
  </form>

  <div class="forgot">
    <h4 class="text-uppercase text-center">forgot your password ?</h4>
  </div>
</div>
