<div class="sign-up">
    <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="logo">
    <img src="img/yfls.png" class="img-responsive" alt="logo">
  </div>
  <div class="account">
    <div class="facebook text-center">
  <h3 class="text-uppercase">create an account</h3>
  <button  class="btn btn-primary btn-texture btn-lg sub-btn margin0 text-uppercase"><span><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></span><span>log in with facebook</span></button>
    </div>
    <div class="or text-center">
    </div>
    <div class="email text-center">

    </div>
  </div>
  <div class="question text-center">
    <h3 class="text-uppercase">already have an account ?</h3>
  <h3 class="text-uppercase">sign in</h3>
  </div>
  <div class="legal clearfix">
    <h3 class="text-uppercase pull-left">terms and conditions</h3>
    <h3 class="text-uppercase pull-right">privacy</h3>
  </div>
</div>
