<div class="sign-up">
    <a href="" class="close text-uppercase brand-white" ng-click="$dismiss();"><i class="fa fa-times" aria-hidden="true"></i></a>
  <div class="logo">
    <img src="img/yfls.png" class="img-responsive" alt="logo">
  </div>
  <div class="account text-center">
    <h3 class="text-uppercase">create an account</h3>
    <div class="facebook text-center">
  <button  class="btn  btn-fb btn-lg sub-btn margin0 text-uppercase "><span class="socio"><img src="img/btn-fb-icon.png" class="img-responsive" alt="fb"></span><span>log in with facebook</span></button>
<h4 class="text-uppercase">we wont post without permission</h4>
<div class="magic-form text-center">
   <div class="magic-resize">
      <input class="magic-checkbox" type="checkbox" id="terms" name="terms" value="true" required ng-model="formData.termsConditions">
      <label class="text text-left" for="terms">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    GET YFL'S DAILY EMAIL
      </label>
   </div>
</div>

    </div>
    <div class="strike text-center">
       <span class="text-uppercase">or</span>
    </div>
    <div class="facebook mt text-center">
  <button  class="btn  btn-danger btn-lg sub-btn margin0 text-uppercase "><span class="socio"><img src="img/btn-email-icon.png" class="img-responsive" alt="envelope"></span><span>continue with email</span></button>
    </div>
  </div>
  <div class="question text-center">
    <h3 class="text-uppercase">already have an account ?</h3>
  <h3 class="text-uppercase" ng-click="signup();">sign in</h3>
  </div>
  <div class="legal clearfix">
    <h3 class="text-uppercase pull-left">terms and conditions</h3>
    <h3 class="text-uppercase pull-right">privacy</h3>
  </div>
</div>
